Repository calmato/gran-book, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (native), frontend (admin), gateway (native), gateway (admin), backend (user api), backend (book api), backend (information api), database, infrastructure, monitoring, documentation, workflows

.github/labeler.yaml:

frontend (native):
- native/**/*
frontend (admin):
- web/admin/**/*

gateway (native):
- api/gateway/native/**/*
gateway (admin):
- api/gateway/admin/**/*

backend (user api):
- api/server/user/**/*
backend (book api):
- api/server/book/**/*
backend (information api):
- api/server/information/**/*

database:
- infra/mysql/**/*
infrastructure:
- infra/docker/**/*
- infra/functions/**/*
- infra/kubernetes/**/*
- infra/nginx/**/*
- infra/server/**/*
- infra/terraform/**/*
monitoring:
- infra/fluent-bit/**/*
- infra/grafana/**/*

documentation:
- docs/**/*
workflows:
- .github/**/*

refactor: changing workflow format
  .github/workflows/pr-approve.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/pr-reviewer.yaml
Labels: workflows

fix: コメントアウトした場所の//の後ろにスペース追加
  api/server/information/internal/infrastructure/repository/inquiry.go
Labels: backend (information api)

fix: レビューもらった箇所にエラーハンドリングの追加
  api/server/information/internal/interface/grpc/v1/inquiry.go
Labels: backend (information api)

feat: changing search key select id and isbn
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

style: fix lint
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

feat: add new endpoint of book
  api/gateway/native/src/index.ts
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v2/book.ts
  api/gateway/native/src/types/response/index.ts
  api/gateway/native/src/types/response/v2/book.ts
Labels: gateway (native)

refactor: reducing nest
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

refactor: reducing nest
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

refactor: reducing nest
  api/gateway/native/src/routes/v2/book.ts
Labels: gateway (native)

refactor: reducing nest
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

refactor: unification of writing style
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

style: fix lint
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

style: fix lint
  api/gateway/native/src/routes/v2/book.ts
Labels: gateway (native)

Feat: Added other notification application layer
  api/server/information/go.sum
  api/server/information/internal/application/input/notification.go
  api/server/information/internal/application/notification.go
  api/server/information/internal/application/validation/notification.go
Labels: backend (information api)

style:RoomInfoResponseの命名修正
  native/app/screens/NotificationMessage.tsx
  native/app/types/response/chat.ts
Labels: frontend (native)

Feat: Added other notification testcode
  api/server/information/internal/application/validation/notification.go
  api/server/information/internal/application/validation/notification_test.go
Labels: backend (information api)
