Repository calmato/gran-book, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend, frontend (native), frontend (admin), backend, backend (gateway), backend (user service), backend (book service), backend (information service), database, infrastructure, monitoring, test, documentation, workflows

feat: update top entity
  api/service/internal/gateway/native/entity/top.go
  api/service/internal/gateway/native/entity/top_test.go
  api/service/internal/gateway/native/handler/v1/top.go
  api/service/internal/gateway/native/handler/v1/top_test.go
  api/service/internal/gateway/native/response/v1/top.go
  api/service/internal/gateway/native/response/v1/top_test.go
Labels: backend, backend (gateway)

Update .codecov.yaml
  .codecov.yaml
Labels: none

feat: implement native gateway entity
  api/service/internal/gateway/native/entity/book.go
  api/service/internal/gateway/native/entity/book_test.go
  api/service/internal/gateway/native/entity/bookshelf.go
  api/service/internal/gateway/native/entity/bookshelf_test.go
  api/service/internal/gateway/native/entity/chat.go
  api/service/internal/gateway/native/entity/chat_test.go
  api/service/internal/gateway/native/entity/common.go
  api/service/internal/gateway/native/entity/review.go
  api/service/internal/gateway/native/entity/review_test.go
  api/service/internal/gateway/native/handler/v1/api.go
  api/service/internal/gateway/native/handler/v1/book.go
  api/service/internal/gateway/native/handler/v1/bookshelf.go
  api/service/internal/gateway/native/handler/v1/bookshelf_test.go
  api/service/internal/gateway/native/handler/v1/chat.go
  api/service/internal/gateway/native/handler/v1/chat_test.go
  api/service/internal/gateway/native/handler/v1/review.go
  api/service/internal/gateway/native/handler/v1/review_test.go
  api/service/internal/gateway/native/handler/v1/user.go
  api/service/internal/gateway/native/handler/v2/book.go
  api/service/internal/gateway/native/handler/v2/book_test.go
  api/service/internal/gateway/native/handler/v2/bookshelf.go
  api/service/internal/gateway/native/handler/v2/bookshelf_test.go
  api/service/internal/gateway/native/handler/v2/user.go
  api/service/internal/gateway/native/response/v1/book.go
  api/service/internal/gateway/native/response/v1/bookshelf.go
  api/service/internal/gateway/native/response/v1/chat.go
  api/service/internal/gateway/native/response/v1/chat_test.go
  api/service/internal/gateway/native/response/v1/review.go
  api/service/internal/gateway/native/response/v1/review_test.go
  api/service/internal/gateway/native/response/v2/book.go
  api/service/internal/gateway/native/response/v2/book_test.go
  api/service/internal/gateway/native/response/v2/bookshelf.go
  api/service/internal/gateway/native/response/v2/bookshelf_test.go
Labels: backend, backend (gateway)

refactor: ci/cd workflow
  .codecov.yaml
  .github/workflows/cd-api-book-for-master.yaml
  .github/workflows/cd-api-user-for-master.yaml
  .github/workflows/cd-gateway-admin-for-master.yaml
  .github/workflows/cd-gateway-native-for-master.yaml
  .github/workflows/cd-information-api-for-master.yaml
  .github/workflows/ci-admin-gateway-for-all.yaml
  .github/workflows/ci-book-api-for-all.yaml
  .github/workflows/ci-information-api-for-all.yaml
  .github/workflows/ci-native-gateway-for-all.yaml
  .github/workflows/ci-user-api-for-all.yaml
Labels: workflows

feat: update docker-compose.yaml
  .codecov.yaml
  docker-compose.yaml
Labels: none

feat: update container settings
  Makefile
  api/service/Makefile
  docker-compose.ci.yaml
  docker-compose.yaml
  infra/docker/api/service/common/Dockerfile_development
  infra/docker/api/service/gateway/native/Dockerfile_development
  proto/Makefile
  proto/pkg/.keep
  proto/proto/service/book/book_entity.proto
  proto/proto/service/book/book_service.proto
  proto/proto/service/book/common.proto
  proto/proto/service/chat/chat_entity.proto
  proto/proto/service/chat/chat_service.proto
  proto/proto/service/chat/common.proto
  proto/proto/service/information_apiv1.proto
  proto/proto/service/user/admin_entity.proto
  proto/proto/service/user/admin_service.proto
  proto/proto/service/user/auth_entity.proto
  proto/proto/service/user/auth_service.proto
  proto/proto/service/user/common.proto
  proto/proto/service/user/user_entity.proto
  proto/proto/service/user/user_service.proto
Labels: backend, infrastructure

.github/labeler.yaml:

frontend:
- native/**/*
- web/**/*
frontend (native):
- native/**/*
frontend (admin):
- web/admin/**/*

backend:
- api/service/**/*
backend (gateway):
- api/service/**/gateway/**/*
backend (user service):
- api/service/**/user/**/*
backend (book service):
- api/service/**/book/**/*
backend (information service):
- api/service/**/information/**/*

database:
- infra/mysql/**/*
infrastructure:
- infra/docker/**/*
- infra/functions/**/*
- infra/kubernetes/**/*
- infra/nginx/**/*
- infra/server/**/*
- infra/terraform/**/*
monitoring:
- infra/fluent-bit/**/*
- infra/grafana/**/*

test:
- api/server/**/*_test.go
- native/**/*.test.ts
- native/**/*.test.tsx
- web/**/*.spec.ts

documentation:
- docs/**/*
workflows:
- .github/**/*
