Repository calmato/gran-book, pull requests merged in 2020-12, with the labels that each got.

#1 Update db_design.md
  docs/13_database/README.md
  docs/13_database/db_design.md
Labels: documentation

#2 feature: 管理コンソール初期設定
  .env.temp
  Makefile
  docker-compose.yaml
  infra/docker/web/admin/Dockerfile_development
  web/admin/.babelrc
  web/admin/.eslintrc.js
  web/admin/.gitignore
  web/admin/.prettierrc
  web/admin/README.md
  web/admin/app/assets/README.md
  web/admin/app/assets/variables.scss
  web/admin/app/components/Logo.vue
  web/admin/app/components/README.md
  web/admin/app/components/VuetifyLogo.vue
  web/admin/app/components/atoms/.keep
  web/admin/app/components/molecules/.keep
  web/admin/app/components/organisms/.keep
  web/admin/app/components/templates/.keep
  web/admin/app/content/hello.md
  web/admin/app/layouts/README.md
  web/admin/app/layouts/default.vue
  web/admin/app/layouts/error.vue
  web/admin/app/middleware/README.md
  web/admin/app/pages/README.md
  web/admin/app/pages/index.vue
  web/admin/app/pages/inspire.vue
  web/admin/app/plugins/README.md
  web/admin/app/static/README.md
  web/admin/app/static/favicon.ico
  web/admin/app/static/v.png
  web/admin/app/static/vuetify-logo.svg
  web/admin/app/store/README.md
  web/admin/app/types/forms/.keep
  web/admin/app/types/requests/.keep
  web/admin/app/types/responses/.keep
  web/admin/app/types/store/.keep
  web/admin/app/types/vue-shim.d.ts
  web/admin/jest.config.js
  web/admin/nuxt.config.js
  web/admin/package.json
  web/admin/spec/components/Logo.spec.js
  web/admin/spec/components/atoms/.keep
  web/admin/spec/components/molecules/.keep
  web/admin/spec/components/organisms/.keep
  web/admin/spec/components/templates/.keep
  web/admin/spec/helpers/.keep
  web/admin/spec/pages/.keep
  web/admin/spec/store/.keep
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: feature, frontend (admin)

#3 管理コンソールのCI作成
  .github/workflows/.keep
  .github/workflows/ci-admin-for-all.yaml
Labels: frontend (admin), workflows

#5 feature: 管理コンソールの初期設定
  .env.temp
  .github/workflows/ci-admin-for-all.yaml
  Makefile
  docker-compose.yaml
  infra/docker/web/admin/Dockerfile_development
  web/admin/.babelrc
  web/admin/.eslintrc.js
  web/admin/.gitignore
  web/admin/.prettierrc
  web/admin/README.md
  web/admin/app/assets/README.md
  web/admin/app/assets/variables.scss
  web/admin/app/components/Logo.vue
  web/admin/app/components/README.md
  web/admin/app/components/VuetifyLogo.vue
  web/admin/app/components/atoms/.keep
  web/admin/app/components/molecules/.keep
  web/admin/app/components/organisms/.keep
  web/admin/app/components/templates/.keep
  web/admin/app/content/hello.md
  web/admin/app/layouts/README.md
  web/admin/app/layouts/default.vue
  web/admin/app/layouts/error.vue
  web/admin/app/middleware/README.md
  web/admin/app/pages/README.md
  web/admin/app/pages/index.vue
  web/admin/app/pages/inspire.vue
  web/admin/app/plugins/README.md
  web/admin/app/static/README.md
  web/admin/app/static/favicon.ico
  web/admin/app/static/v.png
  web/admin/app/static/vuetify-logo.svg
  web/admin/app/store/README.md
  web/admin/app/types/forms/.keep
  web/admin/app/types/requests/.keep
  web/admin/app/types/responses/.keep
  web/admin/app/types/store/.keep
  web/admin/app/types/vue-shim.d.ts
  web/admin/jest.config.js
  web/admin/nuxt.config.js
  web/admin/package.json
  web/admin/spec/components/Logo.spec.js
  web/admin/spec/components/atoms/.keep
  web/admin/spec/components/molecules/.keep
  web/admin/spec/components/organisms/.keep
  web/admin/spec/components/templates/.keep
  web/admin/spec/helpers/.keep
  web/admin/spec/pages/.keep
  web/admin/spec/store/.keep
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: feature, frontend (admin)

#7 feature: ネイティブアプリの初期設定
  docker-compose.yaml
  infra/docker/native/Dockerfile_development
  native/.expo-shared/assets.json
  native/.gitignore
  native/App.tsx
  native/app.json
  native/app/components/atoms/ .keep
  native/app/components/molecules/ .keep
  native/app/components/organisms/ .keep
  native/app/components/templates/ .keep
  native/app/layouts/ .keep
  native/app/lib/axios/ .keep
  native/app/lib/constants/ .keep
  native/app/lib/hooks/ .keep
  native/app/lib/local-storage/ .keep
  native/app/screens/ .keep
  native/app/store/containers/ .keep
  native/app/store/models/ .keep
  native/app/store/modules/ .keep
  native/app/store/selectors/ .keep
  native/app/store/usecases/ .keep
  native/app/types/forms/ .keep
  native/app/types/models/ .keep
  native/app/types/requests/ .keep
  native/app/types/responess/ .keep
  native/app/types/selectors/ .keep
  native/assets/adaptive-icon.png
  native/assets/favicon.png
  native/assets/icon.png
  native/assets/splash.png
  native/babel.config.js
  native/package.json
  native/test/ .keep
  native/tsconfig.json
  native/yarn.lock
Labels: feature, frontend (native)

#6 feature: Envoyの初期設定
  .gitignore
  docker-compose.yaml
  infra/docker/infra/envoy/Dockerfile_development
  infra/envoy/.keep
  infra/envoy/development.yaml
  tmp/logs/envoy/.keep
Labels: feature, infrastructure

#4 feature: 管理コンソールのCD作成
  .github/workflows/cd-admin-for-master.yaml
  .github/workflows/cd-admin-for-release.yaml
  web/admin/.firebase/hosting.ZGlzdA.cache
  web/admin/.firebaserc
  web/admin/firebase.json
Labels: frontend (admin), workflows

#8 feature: CI/CD周りの実装
  .github/workflows/cd-admin-for-master.yaml
  .github/workflows/cd-admin-for-release.yaml
  web/admin/.firebase/hosting.ZGlzdA.cache
  web/admin/.firebaserc
  web/admin/firebase.json
Labels: feature, frontend (admin)

#9 feature: Envoyの実装
  .gitignore
  docker-compose.yaml
  infra/docker/infra/envoy/Dockerfile_development
  infra/envoy/.keep
  infra/envoy/development.yaml
  tmp/logs/envoy/.keep
Labels: feature, infrastructure

#10 feature: ネイティブアプリの実装
  docker-compose.yaml
  infra/docker/native/Dockerfile_development
  native/.expo-shared/assets.json
  native/.gitignore
  native/App.tsx
  native/app.json
  native/app/components/atoms/ .keep
  native/app/components/molecules/ .keep
  native/app/components/organisms/ .keep
  native/app/components/templates/ .keep
  native/app/layouts/ .keep
  native/app/lib/axios/ .keep
  native/app/lib/constants/ .keep
  native/app/lib/hooks/ .keep
  native/app/lib/local-storage/ .keep
  native/app/screens/ .keep
  native/app/store/containers/ .keep
  native/app/store/models/ .keep
  native/app/store/modules/ .keep
  native/app/store/selectors/ .keep
  native/app/store/usecases/ .keep
  native/app/types/forms/ .keep
  native/app/types/models/ .keep
  native/app/types/requests/ .keep
  native/app/types/responess/ .keep
  native/app/types/selectors/ .keep
  native/assets/adaptive-icon.png
  native/assets/favicon.png
  native/assets/icon.png
  native/assets/splash.png
  native/babel.config.js
  native/package.json
  native/test/ .keep
  native/tsconfig.json
  native/yarn.lock
Labels: feature, frontend (native)

#11 docs: インフラ構成の変更
  README.md
  docs/12_backend/12_protobuf/README.md
  docs/14_infrastructure/11_gcp/README.md
  docs/14_infrastructure/11_gcp/gran-book-dev.drawio
  docs/14_infrastructure/11_gcp/gran-book-dev.jpg
  docs/14_infrastructure/11_gcp/gran-book-stg.drawio
  docs/14_infrastructure/11_gcp/gran-book-stg.jpg
  docs/14_infrastructure/21_envoy/README.md
  docs/14_infrastructure/21_reverse-proxy/README.md
  docs/14_infrastructure/31_docker/README.md
  docs/14_infrastructure/README.md
  protobuf/.keep
Labels: documentation

#13 fix: yarn global addしたものが実行できるように修正
  .github/workflows/cd-admin-for-master.yaml
  .github/workflows/cd-admin-for-release.yaml
Labels: bugfix, frontend (admin)

#14 fix: 静的ファイルがビルドされるよう修正
  .github/workflows/cd-admin-for-master.yaml
  .github/workflows/cd-admin-for-release.yaml
Labels: bugfix, frontend (admin), workflows

#16 feature: gRPC-Gatewayの導入
  .github/workflows/ci-gateway-for-all.yaml
  Makefile
  api/hello/go.mod
  api/hello/go.sum
  api/hello/main.go
  api/hello/proto/hello_world.pb.go
  api/hello/proto/hello_world_grpc.pb.go
  docker-compose.yaml
  docs/12_backend/11_swagger/proto/hello_world.swagger.json
  infra/docker/api/hello/Dockerfile_development
  infra/docker/infra/envoy/Dockerfile_development
  infra/docker/infra/gateway/Dockerfile_development
  infra/docker/proto/Dockerfile_development
  infra/envoy/development.yaml
  infra/gateway/.gitignore
  infra/gateway/.golangci.yaml
  infra/gateway/.realize.yaml
  infra/gateway/Makefile
  infra/gateway/bin/.keep
  infra/gateway/cmd/main.go
  infra/gateway/go.mod
  infra/gateway/go.sum
  infra/gateway/proto/hello_world.pb.go
  infra/gateway/proto/hello_world.pb.gw.go
  infra/gateway/proto/hello_world_grpc.pb.go
  proto/Makefile
  proto/cmd/tools.go
  proto/go.mod
  proto/go.sum
  proto/proto/hello_world.proto
  tmp/logs/envoy/.keep
Labels: feature, infrastructure

#17 fix: gRPC-Gateway用のCIを修正
  .github/workflows/ci-gateway-for-all.yaml
Labels: bugfix, infrastructure

#18 docs: Update README.md
  README.md
Labels: documentation

#19 feat: ReactNative用のCI作成
  .github/workflows/ci-native-for-all.yaml
Labels: frontend (native), workflows

#21 feature: ReactNativeのCI周りの実装
  .github/workflows/ci-native-for-all.yaml
Labels: frontend (native), workflows

#23 feature: ログ出力周りの修正
  api/hello/.realize.yaml
  api/hello/cmd/main.go
  api/hello/config/environment.go
  api/hello/config/exec.go
  api/hello/config/grpc.go
  api/hello/config/logger.go
  api/hello/go.mod
  api/hello/go.sum
  api/hello/internal/interface/grpc/v1/hello.go
  api/hello/main.go
  api/hello/proto/hello_world.pb.go
  docker-compose.yaml
  docs/12_backend/01_design/libraries-for-golang.md
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/proto/hello_world.swagger.json
  infra/docker/api/hello/Dockerfile_development
  infra/docker/infra/swagger/Dockerfile
  infra/gateway/.realize.yaml
  infra/gateway/cmd/main.go
  infra/gateway/config/cors.go
  infra/gateway/config/environment.go
  infra/gateway/config/exec.go
  infra/gateway/config/grpc.go
  infra/gateway/config/logger.go
  infra/gateway/go.mod
  infra/gateway/go.sum
  infra/gateway/proto/hello_world.pb.go
  proto/Makefile
  proto/proto/hello_world.proto
  tmp/logs/.keep
Labels: feature, infrastructure

#22 React Native Elementsの導入とEslintとPrettierの設定
  .github/workflows/ci-native-for-all.yaml
  native/.eslintrc.js
  native/.prettierrc.js
  native/babel.config.js
  native/package.json
  native/yarn.lock
Labels: frontend (native), workflows

#27 feat: 開発用ブランチにMasterブランチの差分を自動マージするworkflowの作成
  .github/workflows/cron-merge-master-for-develop.yaml
Labels: workflows

#26 feature: モニタリング関連の初期設定
  Makefile
  docker-compose.yaml
  infra/docker/infra/grafana/Dockerfile
  infra/docker/infra/prometheus/Dockerfile
  infra/prometheus/.keep
  infra/prometheus/development.yaml
  native/yarn.lock
Labels: feature, monitorinig

#29 Develop/infra
  .github/workflows/cron-merge-master-for-develop.yaml
  Makefile
  docker-compose.yaml
  infra/docker/infra/grafana/Dockerfile
  infra/docker/infra/prometheus/Dockerfile
  infra/prometheus/.keep
  infra/prometheus/development.yaml
  native/yarn.lock
Labels: infrastructure, workflows

#30 feat: user_apiのcron処理を追加
  .github/workflows/cron-merge-master-for-develop.yaml
Labels: workflows

#33 fix: Update .gitignore
  api/hello/.gitignore
Labels: sytle

#32 feature: User APIの初期設定
  .github/workflows/ci-user-api-for-all.yaml
  api/user/.gitignore
  api/user/.golangci.yaml
  api/user/.realize.yaml
  api/user/Makefile
  api/user/bin/.keep
  api/user/cmd/main.go
  api/user/go.mod
  docker-compose.yaml
  infra/docker/api/user/Dockerfile_development
Labels: backend (user api), feature, workflows

#34 feature: ユーザ登録用のProto作成
  api/user/proto/user_apiv1.pb.go
  api/user/proto/user_apiv1_grpc.pb.go
  docker-compose.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  infra/gateway/proto/user_apiv1.pb.go
  infra/gateway/proto/user_apiv1.pb.gw.go
  infra/gateway/proto/user_apiv1_grpc.pb.go
  proto/Makefile
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#35 feature: MySQLのコンテナ初期設定
  .env.temp
  docker-compose.yaml
  infra/docker/infra/mysql/Dockerfile
  infra/mysql/development.cnf
Labels: database, feature
