Repository calmato/gran-book, pull requests merged in 2021-01, with the labels that each got.

#37 feature: ユーザ登録APIの実装
  .env.temp
  README.md
  api/user/.golangci.yaml
  api/user/config/environment.go
  api/user/config/exec.go
  api/user/config/grpc.go
  api/user/go.mod
  api/user/go.sum
  api/user/internal/application/input/user.go
  api/user/internal/application/user.go
  api/user/internal/application/validation/user.go
  api/user/internal/application/validation/validator.go
  api/user/internal/domain/exception/error.go
  api/user/internal/domain/exception/validation.go
  api/user/internal/domain/user/entity.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/infrastructure/repository/client.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/interface/grpc/v1/error.go
  api/user/internal/interface/grpc/v1/user.go
  api/user/lib/datetime/format.go
  api/user/lib/firebase/authentication/client.go
  api/user/lib/firebase/client.go
  api/user/proto/user_apiv1.pb.go
  api/user/registry/registry.go
  docker-compose.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  infra/gateway/.golangci.yaml
  infra/gateway/config/exec.go
  infra/gateway/config/grpc.go
  infra/gateway/go.sum
  infra/gateway/internal/handler/error.go
  infra/gateway/proto/user_apiv1.pb.go
  infra/mysql/dev/01-create.sql
  infra/mysql/development.cnf
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature, infrastructure

#28 Feature/native/UI
  native/@types/index.d.ts
  native/App.tsx
  native/app/components/atoms/CloseIcon.tsx
  native/app/components/atoms/HeaderText.tsx
  native/app/components/atoms/TitleLogoText.tsx
  native/app/components/molecules/AppleButton.tsx
  native/app/components/molecules/CloseButton.tsx
  native/app/components/molecules/FacebookButton.tsx
  native/app/components/molecules/GoogleButton.tsx
  native/app/components/molecules/MailSignInButton.tsx
  native/app/components/molecules/RegisterMailButton.tsx
  native/app/components/molecules/TwitterButton.tsx
  native/app/components/organisms/HeaderWithCloseButton.tsx
  native/app/components/organisms/SingInButtonGroup.tsx
  native/app/screens/Onboarding.tsx
  native/app/screens/SignIn.tsx
  native/app/types/navigation/index.ts
  native/assets/g-logo.png
  native/assets/logo.png
  native/constants/theme.ts
  native/package.json
  native/tsconfig.json
  native/yarn.lock
Labels: design, frontend (native)

#43 feature: User APIのGithub Action設定
  .github/workflows/cd-user-api-for-master.yaml
  infra/docker/api/user/Dockerfile
Labels: backend (user api), workflows

#42 feature: gRPC-Gatewayの設定を更新
  .github/workflows/cd-gateway-for-master.yaml
  docker-compose.yaml
  infra/docker/infra/gateway/Dockerfile
  infra/gateway/config/environment.go
  infra/gateway/config/exec.go
  infra/gateway/config/grpc.go
Labels: infrastructure, workflows

#41 feature: ユーザー登録APIの実装
  api/user/internal/application/user.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/validation.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/validation/user.go
  api/user/internal/interface/grpc/v1/error.go
  api/user/registry/registry.go
Labels: backend (user api), feature

#46 feature: ネイティブアプリ用のコンテナ設定
  .env.temp
  Makefile
  bin/get-local-ip-addr.sh
  docker-compose.yaml
  infra/docker/native/Dockerfile_development
Labels: feature, infrastructure

#47 fix: package.jsonの変更
  native/package.json
  native/yarn.lock
Labels: backend (other api)

#50 feature: ログインユーザー情報取得APIの実装
  api/user/internal/application/user.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/interface/grpc/v1/user.go
  api/user/lib/metadata/metadata.go
Labels: backend (user api), feature

#51 refactor: Protobufで定義するサービス名を変更
  api/user/config/grpc.go
  api/user/internal/application/auth.go
  api/user/internal/application/input/auth.go
  api/user/internal/application/validation/auth.go
  api/user/internal/application/validation/user.go
  api/user/internal/interface/grpc/v1/auth.go
  api/user/proto/user_apiv1.pb.go
  api/user/proto/user_apiv1_grpc.pb.go
  api/user/registry/registry.go
  docs/12_backend/11_swagger/apiv1.openapi.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/apiv1.swagger.yaml
  infra/gateway/config/grpc.go
  infra/gateway/proto/user_apiv1.pb.go
  infra/gateway/proto/user_apiv1.pb.gw.go
  infra/gateway/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), refactor

#52 test: User API関連のテスト作成
  .env.temp
  .github/workflows/ci-user-api-for-all.yaml
  Makefile
  api/user/.gitignore
  api/user/.golangci.yaml
  api/user/Makefile
  api/user/bin/.keep
  api/user/bin/build-mocks.sh
  api/user/go.mod
  api/user/go.sum
  api/user/internal/application/auth.go
  api/user/internal/application/auth_test.go
  api/user/internal/application/input/auth.go
  api/user/internal/application/validation/auth.go
  api/user/internal/application/validation/auth_test.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/service/user_test.go
  api/user/internal/infrastructure/validation/user_test.go
  api/user/internal/interface/grpc/v1/auth.go
  api/user/lib/datetime/format_test.go
  api/user/mock/application/validation/auth.go
  api/user/mock/domain/user/repository.go
  api/user/mock/domain/user/service.go
  api/user/mock/domain/user/validation.go
  api/user/proto/user_apiv1.pb.go
  api/user/proto/user_apiv1_grpc.pb.go
  bin/get-local-ip-addr.sh
  docker-compose.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  infra/docker/native/Dockerfile_development
  infra/gateway/proto/user_apiv1.pb.go
  infra/gateway/proto/user_apiv1.pb.gw.go
  infra/gateway/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), test, workflows

#45 feature: 管理コンソールへのサインイン機能の実装
  docs/11_frontend/02_web/01_admin/README.md
  docs/11_frontend/02_web/01_admin/components.md
  web/admin/.eslintrc.js
  web/admin/app/layouts/default.vue
  web/admin/app/layouts/error.vue
  web/admin/app/middleware/authenticated.ts
  web/admin/app/pages/index.vue
  web/admin/app/pages/inspire.vue
  web/admin/app/pages/signin.vue
  web/admin/app/plugins/firebase.ts
  web/admin/app/plugins/persisted-state.ts
  web/admin/app/plugins/store-accessor.ts
  web/admin/app/static/logo.png
  web/admin/app/store/auth.ts
  web/admin/app/store/index.ts
  web/admin/app/types/forms/.keep
  web/admin/app/types/forms/auth.ts
  web/admin/app/types/forms/index.ts
  web/admin/nuxt.config.js
  web/admin/package.json
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: feature, frontend (admin)

#49 refactor: サインイン画面のコンポーネント分割
  web/admin/app/components/organisms/.keep
  web/admin/app/components/organisms/SignInCard.vue
  web/admin/app/components/organisms/SignInForm.vue
  web/admin/app/components/templates/.keep
  web/admin/app/components/templates/SignIn.vue
  web/admin/app/layouts/default.vue
  web/admin/app/pages/index.vue
  web/admin/app/pages/signin.vue
  web/admin/app/store/auth.ts
  web/admin/app/types/forms/auth.ts
Labels: frontend (admin), refactor

#55 feature: JWT取得できるとこまで
  docs/11_frontend/02_web/01_admin/README.md
  docs/11_frontend/02_web/01_admin/components.md
  web/admin/.eslintrc.js
  web/admin/app/components/organisms/.keep
  web/admin/app/components/organisms/SignInCard.vue
  web/admin/app/components/organisms/SignInForm.vue
  web/admin/app/components/templates/.keep
  web/admin/app/components/templates/SignIn.vue
  web/admin/app/layouts/default.vue
  web/admin/app/layouts/error.vue
  web/admin/app/middleware/authenticated.ts
  web/admin/app/pages/index.vue
  web/admin/app/pages/inspire.vue
  web/admin/app/pages/signin.vue
  web/admin/app/plugins/firebase.ts
  web/admin/app/plugins/persisted-state.ts
  web/admin/app/plugins/store-accessor.ts
  web/admin/app/static/logo.png
  web/admin/app/store/auth.ts
  web/admin/app/store/index.ts
  web/admin/app/types/forms/.keep
  web/admin/app/types/forms/auth.ts
  web/admin/app/types/forms/index.ts
  web/admin/nuxt.config.js
  web/admin/package.json
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: frontend (admin)

#56 feature: プロフィール更新用エンドポイントのProto定義
  api/user/proto/user_apiv1.pb.go
  api/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/apiv1.openapi.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/apiv1.swagger.yaml
  infra/gateway/proto/user_apiv1.pb.go
  infra/gateway/proto/user_apiv1.pb.gw.go
  infra/gateway/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api)

#57 feature: プロフィール更新APIの実装
  .env.temp
  api/user/bin/build-mocks.sh
  api/user/config/environment.go
  api/user/config/exec.go
  api/user/go.mod
  api/user/internal/application/auth.go
  api/user/internal/application/auth_test.go
  api/user/internal/application/input/auth.go
  api/user/internal/application/validation/auth.go
  api/user/internal/application/validation/auth_test.go
  api/user/internal/application/validation/validator.go
  api/user/internal/domain/exception/validation.go
  api/user/internal/domain/user/service.go
  api/user/internal/domain/user/uploader.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/service/user_test.go
  api/user/internal/infrastructure/storage/context.go
  api/user/internal/infrastructure/storage/user.go
  api/user/internal/interface/grpc/v1/auth.go
  api/user/lib/firebase/storage/client.go
  api/user/mock/application/validation/auth.go
  api/user/mock/domain/user/service.go
  api/user/mock/domain/user/uploader.go
  api/user/proto/user_apiv1.pb.go
  api/user/registry/registry.go
  docker-compose.yaml
  docs/12_backend/11_swagger/apiv1.openapi.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/apiv1.swagger.yaml
  infra/gateway/proto/user_apiv1.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#58 feature: 認証周りのエンドポイントを実装
  .env.temp
  .github/workflows/ci-user-api-for-all.yaml
  Makefile
  api/user/.gitignore
  api/user/.golangci.yaml
  api/user/Makefile
  api/user/bin/.keep
  api/user/bin/build-mocks.sh
  api/user/config/environment.go
  api/user/config/exec.go
  api/user/config/grpc.go
  api/user/go.mod
  api/user/go.sum
  api/user/internal/application/auth.go
  api/user/internal/application/auth_test.go
  api/user/internal/application/input/auth.go
  api/user/internal/application/input/user.go
  api/user/internal/application/user.go
  api/user/internal/application/validation/auth.go
  api/user/internal/application/validation/auth_test.go
  api/user/internal/application/validation/user.go
  api/user/internal/application/validation/validator.go
  api/user/internal/domain/exception/validation.go
  api/user/internal/domain/user/repository.go
  api/user/internal/domain/user/service.go
  api/user/internal/domain/user/uploader.go
  api/user/internal/infrastructure/repository/user.go
  api/user/internal/infrastructure/service/user.go
  api/user/internal/infrastructure/service/user_test.go
  api/user/internal/infrastructure/storage/context.go
  api/user/internal/infrastructure/storage/user.go
  api/user/internal/infrastructure/validation/user_test.go
  api/user/internal/interface/grpc/v1/auth.go
  api/user/internal/interface/grpc/v1/user.go
  api/user/lib/datetime/format_test.go
  api/user/lib/firebase/storage/client.go
  api/user/lib/metadata/metadata.go
  api/user/mock/application/validation/auth.go
  api/user/mock/domain/user/repository.go
  api/user/mock/domain/user/service.go
  api/user/mock/domain/user/uploader.go
  api/user/mock/domain/user/validation.go
  api/user/proto/user_apiv1.pb.go
  api/user/proto/user_apiv1_grpc.pb.go
  api/user/registry/registry.go
  docker-compose.yaml
  docs/12_backend/11_swagger/README.md
  docs/12_backend/11_swagger/apiv1.openapi.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/apiv1.swagger.yaml
  docs/12_backend/12_protobuf/README.md
  infra/docker/infra/swagger_editor/Dockerfile
  infra/docker/infra/swagger_ui/Dockerfile
  infra/gateway/config/grpc.go
  infra/gateway/proto/user_apiv1.pb.go
  infra/gateway/proto/user_apiv1.pb.gw.go
  infra/gateway/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#59 feature: Terraform関連実装
  .env.temp
  Makefile
  README.md
  docker-compose.yaml
  docs/14_infrastructure/11_gcp/README.md
  docs/14_infrastructure/11_gcp/gran-book-dev.drawio
  docs/14_infrastructure/11_gcp/gran-book-dev.jpg
  docs/14_infrastructure/11_gcp/gran-book-stg.drawio
  docs/14_infrastructure/11_gcp/gran-book-stg.jpg
  infra/docker/infra/terraform/Dockerfile
  infra/terraform/.gitignore
  infra/terraform/env/stg/main.tf
  infra/terraform/env/stg/outputs.tf
  infra/terraform/env/stg/variables.tf
  infra/terraform/examples/main.tf
  infra/terraform/examples/terraform.tfvars.sample
  infra/terraform/examples/variables.tf
  infra/terraform/modules/gke/gke-cluster.tf
  infra/terraform/modules/sql/locals.tf
  infra/terraform/modules/sql/outputs.tf
  infra/terraform/modules/sql/sql-instance.tf
  infra/terraform/modules/sql/variables.tf
Labels: infrastructure

#61 feature: K8s周りの設定
  docs/14_infrastructure/01_design/note.md
  infra/kubernetes/.gitignore
  infra/kubernetes/Makefile
  infra/kubernetes/stg/default/common-secret.yaml.temp
  infra/kubernetes/stg/default/user-api-deployment.yaml.temp
  infra/kubernetes/stg/default/user-api-secret.yaml.temp
Labels: infrastructure

#62 feature: コンソールログも出力するよう変更
  api/user/config/logger.go
  infra/gateway/config/logger.go
Labels: backend (user api), feature

#63 feature: インフラ変更に伴うAPIの設定変更
  .github/workflows/cd-gateway-for-master.yaml
  .github/workflows/cd-user-api-for-master.yaml
  api/user/config/logger.go
  infra/gateway/config/logger.go
Labels: backend (user api), feature, workflows

#65 feature: 管理用サーバの各種設定
  docs/14_infrastructure/32_kubernetes/README.md
  docs/14_infrastructure/33_virtual_machine/README.md
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
  infra/kubernetes/stg/gateway/nginx-deployment.yaml
  infra/server/.gitignore
  infra/server/bin/certbot-auth-hook.sh.temp
  infra/server/bin/certbot-cleanup-hook.sh.temp
  infra/server/bin/ubuntu-setup.sh
  infra/server/bin/ubuntu-test.sh
  infra/server/bin/update-certificate.sh.temp
  infra/server/cloud-init/centos-setup.yaml
  infra/server/config/crontab
  infra/server/config/nginx.conf.temp
Labels: infrastructure

#69 Feature/native/account page
  native/app/screens/MyPage.tsx
  native/app/types/navigation/index.ts
Labels: design, frontend (native)

#72 feat: naginのマニフェスト作成
  infra/kubernetes/stg/gateway/nginx-deployment.yaml
Labels: infrastructure

#70 feature: Axios, Jest周りの初期設定 と ホーム画面の実装
  .env.temp
  docker-compose.yaml
  web/admin/.babel.config.js
  web/admin/.babelrc
  web/admin/.gitignore
  web/admin/app/components/organisms/CommonHeader.vue
  web/admin/app/components/organisms/CommonSidebar.vue
  web/admin/app/components/organisms/CommonSidebarListItem.vue
  web/admin/app/components/organisms/SignInForm.vue
  web/admin/app/components/templates/SignIn.vue
  web/admin/app/layouts/default.vue
  web/admin/app/pages/signin.vue
  web/admin/app/plugins/axios-accessor.ts
  web/admin/app/plugins/axios.ts
  web/admin/app/store/auth.ts
  web/admin/app/types/props/index.ts
  web/admin/app/types/props/organisms/CommonHeader.ts
  web/admin/app/types/props/organisms/CommonSidebar.ts
  web/admin/app/types/props/organisms/index.ts
  web/admin/app/types/responses/.keep
  web/admin/app/types/responses/auth.ts
  web/admin/app/types/responses/index.ts
  web/admin/app/types/store/.keep
  web/admin/app/types/store/auth.ts
  web/admin/app/types/store/index.ts
  web/admin/jest.config.js
  web/admin/nuxt.config.js
  web/admin/package.json
  web/admin/spec/components/organisms/.keep
  web/admin/spec/components/organisms/CommonHeader.spec.ts
  web/admin/spec/components/organisms/CommonSidebar.spec.ts
  web/admin/spec/components/organisms/CommonSidebarListItem.spec.ts
  web/admin/spec/components/organisms/SignInCard.spec.ts
  web/admin/spec/components/organisms/SignInForm.spec.ts
  web/admin/spec/components/templates/.keep
  web/admin/spec/components/templates/Home.spec.ts
  web/admin/spec/components/templates/SignIn.spec.ts
  web/admin/spec/components/tmp.spec.js
  web/admin/spec/helpers/.keep
  web/admin/spec/helpers/component-helper.ts
  web/admin/spec/helpers/response/auth.ts
  web/admin/spec/helpers/response/index.ts
  web/admin/spec/helpers/setup.ts
  web/admin/spec/helpers/store-helper.ts
  web/admin/spec/store/.keep
  web/admin/spec/store/auth.spec.ts
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: feature, frontend (admin)

#75 Test/native/components
  native/assets/logo.svg
  native/package.json
  native/test/components/atoms/CloseIcon.test.tsx
  native/test/components/atoms/HeaderText.test.tsx
  native/test/components/atoms/TitleLogoText.test.tsx
  native/test/components/molecules/AppleButton.test.tsx
  native/test/components/molecules/BackButton.test.tsx
  native/test/components/molecules/CheckBox.test.tsx
  native/test/components/molecules/CloseButton.test.tsx
  native/test/components/molecules/FacebookButton.test.tsx
  native/test/components/molecules/GoogleButton.test.tsx
  native/yarn.lock
Labels: frontend (native), test

#76 Develop/native
  .github/workflows/ci-native-for-all.yaml
  docker-compose.yaml
  native/@types/index.d.ts
  native/App.tsx
  native/app/components/atoms/BackIcon.tsx
  native/app/components/atoms/CloseIcon.tsx
  native/app/components/atoms/HeaderText.tsx
  native/app/components/atoms/TitleLogoText.tsx
  native/app/components/molecules/AppleButton.tsx
  native/app/components/molecules/BackButton.tsx
  native/app/components/molecules/CheckBox.tsx
  native/app/components/molecules/CloseButton.tsx
  native/app/components/molecules/FacebookButton.tsx
  native/app/components/molecules/ForgotPasswordButton.tsx
  native/app/components/molecules/GoogleButton.tsx
  native/app/components/molecules/MailInput.tsx
  native/app/components/molecules/MailSignInButton.tsx
  native/app/components/molecules/PasswordInput.tsx
  native/app/components/molecules/RegisterMailButton.tsx
  native/app/components/molecules/TwitterButton.tsx
  native/app/components/organisms/HeaderWithBackButton.tsx
  native/app/components/organisms/HeaderWithCloseButton.tsx
  native/app/components/organisms/SingInButtonGroup.tsx
  native/app/lib/validation/index.ts
  native/app/routes/AuthRoute.tsx
  native/app/screens/MyPage.tsx
  native/app/screens/Onboarding.tsx
  native/app/screens/SignIn.tsx
  native/app/screens/SignInSelect.tsx
  native/app/screens/SignUp.tsx
  native/app/screens/SignUpCheckEmail.tsx
  native/app/types/forms/index.ts
  native/app/types/navigation/index.ts
  native/assets/g-logo.png
  native/assets/logo.png
  native/assets/logo.svg
  native/babel.config.js
  native/constants/theme.ts
  native/jest.config.js
  native/package.json
  native/test/components/atoms/BackIcon.test.tsx
  native/test/components/atoms/CloseIcon.test.tsx
  native/test/components/atoms/HeaderText.test.tsx
  native/test/components/atoms/TitleLogoText.test.tsx
  native/test/components/molecules/AppleButton.test.tsx
  native/test/components/molecules/BackButton.test.tsx
  native/test/components/molecules/CheckBox.test.tsx
  native/test/components/molecules/CloseButton.test.tsx
  native/test/components/molecules/FacebookButton.test.tsx
  native/test/components/molecules/GoogleButton.test.tsx
  native/test/lib/validation/index.test.ts
  native/tsconfig.json
  native/yarn.lock
Labels: design, feature, frontend (native)
