Repository calmato/gran-book, pull requests merged in 2021-08, with the labels that each got.

#347 Refactor/native/hooks
  native/app/components/atoms/HeaderText.tsx
  native/app/components/organisms/RecommendBooks.tsx
  native/app/containers/BookReadRegister.tsx
  native/app/containers/BookShow.tsx
  native/app/containers/Bookshelf.tsx
  native/app/hooks/usePrepare.ts
  native/app/lib/hooks/ .keep
  native/app/routes/BookshelfTabRoute.tsx
  native/app/routes/OnboadingRoute.tsx
  native/app/routes/index.tsx
  native/app/screens/BookReadRegister.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/Bookshelf.tsx
  native/app/screens/SearchResult.tsx
  native/app/types/navigation/index.ts
Labels: frontend (native)

#345 fix; home => bookshelf
  native/app/components/atoms/HeaderText.tsx
  native/app/components/organisms/RecommendBooks.tsx
  native/app/containers/BookReadRegister.tsx
  native/app/containers/BookShow.tsx
  native/app/containers/Bookshelf.tsx
  native/app/containers/index.ts
  native/app/hooks/usePrepare.ts
  native/app/lib/hooks/ .keep
  native/app/routes/BookshelfTabRoute.tsx
  native/app/routes/HomeTabRoute.tsx
  native/app/routes/OnboadingRoute.tsx
  native/app/routes/ServiceRoute.tsx
  native/app/routes/index.tsx
  native/app/screens/BookReadRegister.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/Bookshelf.tsx
  native/app/screens/Home.tsx
  native/app/screens/SearchResult.tsx
  native/app/screens/SplashScreen.tsx
  native/app/types/navigation/index.ts
  native/assets/animations/3151-books.json
  native/assets/animations/book.json
  native/babel.config.js
  native/package.json
  native/yarn.lock
Labels: frontend (native), mergeable

#349 Refactor/native/hooks
  native/app/screens/SearchResult.tsx
Labels: test, frontend (native), mergeable

#320 APIで取得したデータを表示
  native/app/screens/NotificationMessage.tsx
  native/app/store/usecases/chatServices.ts
  native/app/types/response/chat.ts
Labels: feature, WIP, frontend (native), mergeable

#346 style: fontSizeの統一
  native/app/components/atoms/Book.tsx
  native/app/components/molecules/CheckBox.tsx
  native/app/components/molecules/FullTextInput.tsx
  native/app/components/molecules/HalfTextInput.tsx
  native/app/components/molecules/MailInput.tsx
  native/app/components/molecules/NumberTextInput.tsx
  native/app/components/molecules/PasswordInput.tsx
  native/app/components/molecules/SearchResultItem.tsx
  native/app/components/organisms/BookImpression.tsx
  native/app/components/organisms/BookInfo.tsx
  native/app/components/organisms/BookNameAuthorRegister.tsx
  native/app/components/organisms/ChangeNickname.tsx
  native/app/screens/AccountEdit.tsx
  native/app/screens/AccoutSetting.tsx
  native/app/screens/BookReadRegister.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/ContactEdit.tsx
  native/app/screens/EmailEdit.tsx
  native/app/screens/MyPage.tsx
  native/app/screens/OtherProfile.tsx
  native/app/screens/OwnProfile.tsx
  native/app/screens/ProfileEdit.tsx
  native/app/screens/SignInSelect.tsx
  native/app/screens/SignUp.tsx
  native/constants/theme.ts
Labels: frontend (native), mergeable

#351 Feat: 書籍一括登録のUI実装
  web/admin/app/components/organisms/BookMultipleRegister.vue
  web/admin/app/components/templates/BookList.vue
Labels: frontend (admin), mergeable

#356 Feature/native/route
  native/app/screens/Onboarding.tsx
Labels: frontend (native), mergeable

#359 style: FONT_SIZE適用
  native/app/components/atoms/HeaderText.tsx
  native/app/components/atoms/ProfileNumberOfThings.tsx
  native/app/components/molecules/ForgotPasswordButton.tsx
  native/app/components/organisms/FlexBoxBookCategory.tsx
  native/app/components/organisms/GenderRadioGroup.tsx
  native/app/components/organisms/ReadDate.tsx
  native/app/routes/ServiceRoute.tsx
  native/app/screens/SignInSelect.tsx
  native/constants/theme.ts
Labels: frontend (native), mergeable

#362 refactor: admin gateway
  api/gateway/admin/config/exec.go
  api/gateway/admin/internal/entity/common.go
  api/gateway/admin/internal/entity/user.go
  api/gateway/admin/internal/request/v1/admin.go
  api/gateway/admin/internal/request/v1/auth.go
  api/gateway/admin/internal/response/v1/admin.go
  api/gateway/admin/internal/response/v1/auth.go
  api/gateway/admin/internal/response/v1/user.go
  api/gateway/admin/internal/server/registry.go
  api/gateway/admin/internal/server/router.go
  api/gateway/admin/internal/server/util/auth.go
  api/gateway/admin/internal/server/v1/admin.go
  api/gateway/admin/internal/server/v1/auth.go
  api/gateway/admin/internal/server/v1/book.go
  api/gateway/admin/internal/server/v1/user.go
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/interface/server/admin.go
  api/server/user/internal/interface/server/admin_test.go
  api/server/user/mock/application/chat.go
  api/server/user/mock/application/user.go
  docs/12_backend/11_swagger/admin/components/schemas/v1/admin.request.yaml
  docs/12_backend/11_swagger/admin/paths/v1/book-by-id.yaml
Labels: documentation, test, backend (user api), gateway (admin)

#365 Feat/ci/setup database
  .github/workflows/ci-book-api-for-all.yaml
  api/server/book/pkg/test/env.go
  docker-compose.ci.yaml
  docker-compose.yaml
  infra/mysql/ci.cnf
Labels: feature, backend (book api), database, workflows

#364 fix: create book db operation
  api/server/book/internal/infrastructure/repository/book.go
Labels: bugfix, backend (book api), mergeable

#367 feat: add test code in user repository
  .github/workflows/ci-user-api-for-all.yaml
  api/server/user/.gitignore
  api/server/user/Makefile
  api/server/user/config/exec.go
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/repository/user_test.go
  api/server/user/pkg/database/client.go
  api/server/user/pkg/test/api.go
  api/server/user/pkg/test/database.go
  api/server/user/pkg/test/env.go
  api/server/user/pkg/test/mock.go
Labels: test, backend (user api), workflows

#366 feat: add test code in book repository
  .github/workflows/ci-book-api-for-all.yaml
  .github/workflows/ci-user-api-for-all.yaml
  api/server/book/.gitignore
  api/server/book/Makefile
  api/server/book/config/exec.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/book_test.go
  api/server/book/pkg/database/client.go
  api/server/book/pkg/test/database.go
  infra/mysql/sql/01-create.sql
Labels: test, backend (book api), database, workflows

#369 Develop/api
  .github/workflows/ci-admin-gateway-for-all.yaml
  .github/workflows/ci-book-api-for-all.yaml
  .github/workflows/ci-information-api-for-all.yaml
  .github/workflows/ci-native-gateway-for-all.yaml
  .github/workflows/ci-user-api-for-all.yaml
  api/gateway/admin/.gitignore
  api/gateway/admin/Makefile
  api/gateway/native/.gitignore
  api/gateway/native/Makefile
  api/server/information/.gitignore
  api/server/information/Makefile
  api/server/information/config/exec.go
  api/server/information/go.mod
  api/server/information/internal/infrastructure/repository/auth.go
  api/server/information/internal/infrastructure/repository/client.go
  api/server/information/internal/infrastructure/repository/notification.go
  api/server/information/internal/interface/grpc/v1/notification.go
  api/server/information/lib/firebase/authentication/client.go
  api/server/information/pkg/array/contains.go
  api/server/information/pkg/array/contains_test.go
  api/server/information/pkg/array/convert.go
  api/server/information/pkg/array/convert_test.go
  api/server/information/pkg/database/client.go
  api/server/information/pkg/database/query.go
  api/server/information/pkg/datetime/format.go
  api/server/information/pkg/datetime/format_test.go
  api/server/information/pkg/firebase/client.go
  api/server/information/pkg/firebase/storage/client.go
  api/server/information/pkg/metadata/metadata.go
  api/server/information/pkg/test/api.go
  api/server/information/pkg/test/database.go
  api/server/information/pkg/test/env.go
  api/server/information/pkg/test/mock.go
  api/server/information/registry/registry.go
Labels: test, workflows, gateway (native), gateway (admin), backend (information api)

#370 Develop/admin
  .github/workflows/ci-admin-for-all.yaml
Labels: workflows

#372 fix: add parameter in user
  api/server/user/internal/application/user.go
Labels: bugfix, backend (user api), mergeable

#371 fix: fix book repository
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/book_test.go
  api/server/book/pkg/datetime/format.go
  api/server/book/pkg/datetime/format_test.go
Labels: bugfix, test, backend (book api)

#373 feat: create request/response proto for client
  .github/workflows/cd-admin-for-master.yaml
  .github/workflows/cd-admin-for-release.yaml
  .github/workflows/cd-admin-gateway-for-master.yaml
  .github/workflows/cd-book-api-for-master.yaml
  .github/workflows/cd-information-api-for-master.yaml
  .github/workflows/cd-native-gateway-for-master.yaml
  .github/workflows/cd-user-api-for-master.yaml
  .github/workflows/ci-admin-for-all.yaml
  .github/workflows/ci-admin-gateway-for-all.yaml
  .github/workflows/ci-book-api-for-all.yaml
  .github/workflows/ci-information-api-for-all.yaml
  .github/workflows/ci-native-for-all.yaml
  .github/workflows/ci-native-gateway-for-all.yaml
  .github/workflows/ci-proto-for-all.yaml
  .github/workflows/ci-user-api-for-all.yaml
  docker-compose.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/auth.response.yaml
  infra/docker/proto/Dockerfile
  native/.gitignore
  native/app/types/api/.keep
  proto/Makefile
  proto/proto/common/common.proto
  proto/proto/gateway/admin/auth_apiv1_request.proto
  proto/proto/gateway/native/auth_apiv1_request.proto
  proto/proto/gateway/native/auth_apiv1_response.proto
  proto/proto/service/admin_service.proto
  proto/proto/service/auth_service.proto
  proto/proto/service/book_service.proto
  proto/proto/service/chat_service.proto
  proto/proto/service/information_apiv1.proto
  proto/proto/service/user_service.proto
  web/admin/.gitignore
  web/admin/app/types/api/.keep
Labels: documentation, infrastructure, workflows

#376 feat: Lint周りの設定編集
  native/.eslintignore
  native/.prettierignore
  native/app/hooks/usePrepare.ts
  native/app/screens/NotificationMessage.tsx
  native/app/types/response/chat.ts
Labels: frontend (native)

#378 refactor: update api types
  .github/workflows/ci-native-for-all.yaml
  native/.eslintignore
  native/.prettierignore
  native/app/store/models/book.ts
  native/app/store/usecases/auth.ts
  native/app/store/usecases/book.ts
  native/app/store/usecases/chatServices.ts
  native/app/store/usecases/user.ts
  native/app/types/api/.keep
  native/app/types/models/ .keep
  native/app/types/requests/ .keep
  native/app/types/requests/index.ts
  native/app/types/response/auth.ts
  native/app/types/response/book.ts
  native/app/types/response/index.ts
  native/package.json
  native/yarn.lock
Labels: refactor, frontend (native), workflows, mergeable

#379 型定義の修正
  .vscode/settings.json
  native/app/components/molecules/BookList.tsx
  native/app/components/organisms/BookImpression.tsx
  native/app/components/organisms/BookInfo.tsx
  native/app/components/organisms/RecommendBooks.tsx
  native/app/lib/converter/index.ts
  native/app/screens/BookShow.tsx
  native/app/screens/Bookshelf.tsx
  native/app/screens/NotificationMessage.tsx
  native/app/store/models/book.ts
  native/app/store/usecases/book.ts
  native/app/types/models/book.ts
  native/package.json
  native/yarn.lock
Labels: frontend (native), mergeable

#380 feat: Jestの設定
  native/jest.config.js
  native/package.json
Labels: frontend (native)

#382 feat: Jest周りの設定編集
  web/admin/jest.config.js
  web/admin/package.json
Labels: frontend (admin)

#381 feat: update package.json
  native/package.json
Labels: frontend (native)

#384 Feat/gateway/define top proto
  api/gateway/native/internal/response/v1/bookshelf.go
  api/gateway/native/internal/response/v1/chat.go
  api/gateway/native/internal/response/v1/review.go
  api/gateway/native/internal/response/v1/top.go
  api/gateway/native/internal/server/registry.go
  api/gateway/native/internal/server/router.go
  api/gateway/native/internal/server/v1/chat.go
  api/gateway/native/internal/server/v1/review.go
  api/gateway/native/internal/server/v1/top.go
  api/gateway/native/internal/server/v1/user.go
  docs/12_backend/11_swagger/native/components/schemas/v1/top.response.yaml
  docs/12_backend/11_swagger/native/openapi.yaml
  docs/12_backend/11_swagger/native/paths/v1/top.yaml
  proto/proto/gateway/native/top_apiv1_response.proto
Labels: documentation, gateway (native)
