Repository calmato/gran-book, pull requests merged in 2021-04, with the labels that each got.

#166 Feature/native/own profile
  native/app/components/molecules/ProfileBasicInfoGroup.tsx
  native/app/components/molecules/ProfileFollowFollower.tsx
  native/app/components/organisms/ProfileViewGroup.tsx
  native/app/containers/OwnProfile.tsx
  native/app/screens/OtherProfile.tsx
  native/app/screens/OwnProfile.tsx
  native/app/store/models/auth.ts
  native/app/store/models/index.ts
  native/app/store/models/user.ts
  native/app/store/modules/auth.ts
  native/app/store/modules/index.ts
  native/app/store/modules/user.ts
  native/app/store/selectors/index.ts
  native/app/store/selectors/user.ts
  native/app/store/usecases/auth.ts
  native/app/store/usecases/user.ts
  native/app/types/response/auth.ts
Labels: feature, frontend (native)

#171 Feature/native/profile edit
  native/app/components/organisms/ChangeIconGroup.tsx
  native/app/components/organisms/ChangeNickname.tsx
  native/app/screens/ProfileEdit.tsx
  native/app/store/usecases/auth.ts
  native/package.json
  native/yarn.lock
Labels: feature

#172 feature: 本棚への書籍登録/更新APIの実装
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/types/input/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  docs/13_database/gran-book_db.mwb
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#178 fix: user thumbnail
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/types/input/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/auth.go
  api/server/user/internal/application/auth_test.go
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/mock/domain/user/service.go
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/book_apiv1.proto
Labels: backend (user api), bugfix

#173 Feature/native/forgatten password change
  native/app/screens/PasswordReset.tsx
  native/app/screens/ProfileEdit.tsx
  native/app/store/usecases/auth.ts
Labels: feature, frontend (native)

#177 楽天BooksAPIを使った検索関数の実装
  .github/workflows/ci-native-for-all.yaml
  native/app/lib/rakuten-books/index.ts
  native/app/types/response/external/rakuten-books/index.ts
  native/jest.config.js
  native/test/lib/rakute-books/index.test.ts
Labels: WIP, feature, frontend (native)

#179 feature: Book DBの設計変更に伴うAPIの実装変更
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/application/validation/validator.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/domain/book/validation.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/mock/domain/book/validation.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/book/registry/registry.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/auth.go
  api/server/user/internal/application/validation/user.go
  api/server/user/internal/application/validation/validator.go
  docs/13_database/gran-book_db.mwb
  docs/14_infrastructure/11_gcp/gran-book-stg.drawio
  docs/14_infrastructure/11_gcp/gran-book-stg.jpg
  infra/mysql/sql/01-create.sql
  proto/proto/book_apiv1.proto
Labels: backend (book api), database, feature

#176 feature: Nginxの設定更新
  api/gateway/admin/src/index.ts
  api/gateway/admin/src/lib/log-handler.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/lib/log-handler.ts
  infra/fluentd/.keep
  infra/grafana/.keep
  infra/kubernetes/stg/default/admin-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/native-gateway-deployment.yaml.temp
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
  infra/kubernetes/stg/gateway/nginx-deployment.yaml
  infra/nginx/staging.conf
  infra/terraform/env/stg/main.tf
Labels: infrastructure

#181 feature: 書籍関連のエンドポイント作成
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/request/book.ts
  api/gateway/native/src/types/response/book.ts
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: feature, frontend (native)

#182 feature: 書籍関連のAPI実装
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/request/book.ts
  api/gateway/native/src/types/response/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/application/validation/validator.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/domain/book/validation.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/mock/domain/book/validation.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/book/registry/registry.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/auth.go
  api/server/user/internal/application/validation/user.go
  api/server/user/internal/application/validation/validator.go
  api/server/user/internal/infrastructure/service/user.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  docs/13_database/gran-book_db.mwb
  docs/14_infrastructure/11_gcp/gran-book-stg.drawio
  docs/14_infrastructure/11_gcp/gran-book-stg.jpg
  infra/mysql/sql/01-create.sql
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#189 fix: OAuth認証を利用している時もユーザ情報が取得できるように
  api/server/user/.golangci.yaml
  api/server/user/internal/application/auth.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
Labels: backend (user api), bugfix, feature

#190 fix: OAuth認証を利用している時もユーザ情報が取得できるように
  api/server/user/.golangci.yaml
  api/server/user/internal/application/auth.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
Labels: backend (user api), bugfix

#183 feat: 楽天カテゴリIDカラムの文字列長を32->64へ変更
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
Labels: database

#184 feature: ユーザのサムネアップロード用のProto作成
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), documentation

#186 refactor: 500のときエラー詳細をレスポンス内に含むように
  api/gateway/admin/src/lib/grpc-exception.ts
  api/gateway/admin/src/lib/http-exception.ts
  api/gateway/native/src/lib/http-exception.ts
Labels: gateway (admin), refactor

#185 feature: ユーザのサムネアップロード用のエンドポイント作成
  api/gateway/native/package.json
  api/gateway/native/src/api/auth.ts
  api/gateway/native/src/lib/grpc-exception.ts
  api/gateway/native/src/lib/log-handler.ts
  api/gateway/native/src/plugins/multer.ts
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/types/input/auth.ts
  api/gateway/native/src/types/output/auth.ts
  api/gateway/native/src/types/response/auth.ts
  api/gateway/native/tsconfig.json
  api/gateway/native/yarn.lock
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: feature, frontend (native)

#187 feature: ユーザサムネイルアップロードAPIの実装
  api/server/user/config/grpc.go
  api/server/user/internal/application/auth.go
  api/server/user/internal/application/input/auth.go
  api/server/user/internal/application/validation/auth.go
  api/server/user/internal/interface/grpc/v1/auth.go
  api/server/user/mock/application/validation/auth.go
Labels: backend (user api), feature

#193 Fix/native/search book
  native/app/components/molecules/SearchResultItem.tsx
  native/app/components/organisms/SearchResultItemList.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
  native/app/screens/SearchResult.tsx
  native/app/types/navigation/index.ts
  native/app/types/requests/index.ts
  native/test/lib/rakuten-books/index.test.ts
Labels: frontend (native)

#194 refactor: 未使用コードの削除
  api/server/user/internal/application/auth.go
Labels: backend (user api), refactor

#174 Feature/native/user chat
  .gitignore
  native/.gitignore
  native/app/lib/firebase/index.ts
  native/app/routes/ServiceRoute.tsx
  native/app/screens/Messages.tsx
  native/app/store/usecases/auth.ts
  native/app/types/forms/index.ts
  native/tsconfig.json
  yarn.lock
Labels: feature, frontend (native)

#192 feature: ユーザ退会用のエンドポイント作成
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/api/auth.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/routes/v1/auth.ts
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), documentation

#196 Feature/api/delete user
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/api/auth.ts
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/types/output/admin.ts
  api/gateway/admin/src/types/output/auth.ts
  api/gateway/native/src/api/auth.ts
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/types/output/auth.ts
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/auth.go
  api/server/user/internal/application/auth_test.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/internal/interface/grpc/v1/auth.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/proto/user_apiv1.pb.go
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#198 feature: 管理者のサムネイル登録用Protoの定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: documentation, feature

#199 feature: 管理者サムネイルアップロード用のエンドポイントを実装
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/admin/src/types/output/admin.ts
  api/gateway/admin/src/types/response/admin.ts
Labels: feature, frontend (admin)

#200 feature: 管理者のサムネアップロードAPIの実装
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/mock/application/validation/admin.go
Labels: backend (user api), feature

#202 feature: デバイスID登録用エンドポイントの作成
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/api/auth.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/types/input/auth.ts
  api/gateway/native/src/types/request/auth.ts
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: feature, gateway (native)

#204 feature: 管理者削除APIのProto定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: documentation, feature

#205 feature: 管理者削除エンドポイントの作成
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
Labels: feature, gateway (admin)

#207 feature: 管理者情報取得エンドポイントの作成
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  docs/12_backend/11_swagger/admin.apiv1.yaml
Labels: feature, gateway (admin)

#208 feature: 書籍削除APIの仕様定義
  .env.temp
  api/gateway/admin/src/api/book.ts
  api/gateway/admin/src/api/index.ts
  api/gateway/admin/src/plugins/grpc.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/admin/src/routes/v1/book.ts
  api/gateway/admin/src/types/input/book.ts
  api/gateway/admin/src/types/input/index.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  docker-compose.yaml
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: documentation, feature

#209 refactor: Admin BFFの不足コード追加
  api/gateway/admin/src/api/index.ts
  api/gateway/admin/src/index.ts
  api/gateway/admin/src/routes/index.ts
  api/gateway/admin/src/routes/v1/book.ts
Labels: gateway (admin), refactor

#211 fix: 書籍関連APIのPATHを修正
  api/gateway/native/src/index.ts
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: bugfix, documentation, frontend (native)

#212 feature: 書籍削除APIのProto定義
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: documentation, feature

#213 faeture: 本棚削除エンドポイントの作成
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/types/input/book.ts
Labels: feature, frontend (native)

#203 fature: デバイス登録APIの実装
  api/server/user/internal/application/auth.go
  api/server/user/internal/application/auth_test.go
  api/server/user/internal/application/input/auth.go
  api/server/user/internal/application/validation/auth.go
  api/server/user/internal/application/validation/auth_test.go
  api/server/user/internal/interface/grpc/v1/auth.go
  api/server/user/mock/application/validation/auth.go
Labels: backend (user api), feature

#206 feature: 管理者権限削除APIの実装
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
Labels: backend (user api), feature

#210 feature: 書籍削除APIの実装
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
Labels: backend (book api), feature

#215 feature: 書籍削除APIの実装
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
Labels: backend (book api), feature

#216 feature: ユーザー取得APIの仕様定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: documentation, feature

#217 feature: ユーザ取得APIの実装
  api/gateway/admin/src/api/index.ts
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/index.ts
  api/gateway/admin/src/plugins/grpc.ts
  api/gateway/admin/src/routes/index.ts
  api/gateway/admin/src/routes/v1/user.ts
  api/gateway/admin/src/types/input/index.ts
  api/gateway/admin/src/types/input/user.ts
  api/gateway/admin/src/types/output/index.ts
  api/gateway/admin/src/types/output/user.ts
  api/gateway/admin/src/types/response/index.ts
  api/gateway/admin/src/types/response/user.ts
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/interface/grpc/v1/user.go
Labels: backend (user api), feature

#214 書籍検索から書籍登録までができるようにする
  native/app/components/organisms/FlexBoxBookCategory.tsx
  native/app/lib/util/index.ts
  native/app/screens/BookShow.tsx
  native/app/screens/SearchResult.tsx
  native/app/store/usecases/book.ts
  native/app/store/usecases/index.ts
  native/package.json
  native/test/lib/rakute-books/index.test.ts
  native/test/lib/utils/index.test.ts
  native/yarn.lock
Labels: design, feature, frontend (native)

#220 faeture: ユーザ一覧取得エンドポイントの作成
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/user.ts
  api/gateway/admin/src/types/input/user.ts
  api/gateway/admin/src/types/output/user.ts
  api/gateway/admin/src/types/response/user.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: feature, gateway (admin)

#222 fix: ユーザー一覧取得APIの修正
  api/server/user/internal/application/user.go
Labels: backend (user api), bugfix

#223 feature: ユーザー取得APIのProto定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: documentation, feature

#225 feature: ユーザー一覧取得用メソッドの作成
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/output/user.ts
Labels: feature, gateway (native)

#226 feature: ユーザー一覧取得APIの実装
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/types/input/user.ts
  api/server/user/internal/application/input/user.go
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/application/validation/user.go
  api/server/user/internal/application/validation/user_test.go
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/mock/application/validation/user.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#219 feature: デバイスID登録用処理を実装
  native/app/containers/SignIn.tsx
  native/app/lib/local-storage/device-storage.ts
  native/app/lib/local-storage/index.ts
  native/app/lib/local-storage/keys.ts
  native/app/screens/SignIn.tsx
  native/app/store/usecases/auth.ts
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#227 feature: ユーザー関連のAPI実装
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/user.ts
  api/gateway/admin/src/types/input/user.ts
  api/gateway/admin/src/types/output/user.ts
  api/gateway/admin/src/types/response/user.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/output/user.ts
  api/server/user/internal/application/input/user.go
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/application/validation/user.go
  api/server/user/internal/application/validation/user_test.go
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/mock/application/validation/user.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#231 Fix/api/book entity
  .github/workflows/ci-proto-for-all.yaml
  api/gateway/native/src/routes/v1/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  docs/13_database/gran-book_db.mwb
  infra/docker/proto/Dockerfile
  infra/mysql/sql/01-create.sql
  proto/Makefile
  proto/proto/book_apiv1.proto
  proto/proto/code.proto
  proto/proto/error_details.proto
  proto/proto/status.proto
  proto/proto/user_apiv1.proto
  proto/prototool.yaml
Labels: database

#228 feature: 書籍一覧APIの型定義
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/admin/src/proto/code_pb.js
  api/gateway/admin/src/proto/error_details_pb.d.ts
  api/gateway/admin/src/proto/error_details_pb.js
  api/gateway/admin/src/proto/status_pb.d.ts
  api/gateway/admin/src/proto/status_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/proto/code_pb.js
  api/gateway/native/src/proto/error_details_pb.d.ts
  api/gateway/native/src/proto/error_details_pb.js
  api/gateway/native/src/proto/status_pb.d.ts
  api/gateway/native/src/proto/status_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/user/proto/user_apiv1.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: documentation, feature

#236 feature: 本棚の書籍一覧取得APIの実装
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/routes/v1/user.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/response/book.ts
  api/gateway/native/src/types/response/bookshelf.ts
  api/gateway/native/src/types/response/index.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/output/.keep
  api/server/book/internal/application/output/util.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/client.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/proto/book_apiv1.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#237 feature: 書籍API周りの実装
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/admin/src/proto/code_pb.js
  api/gateway/admin/src/proto/error_details_pb.d.ts
  api/gateway/admin/src/proto/error_details_pb.js
  api/gateway/admin/src/proto/status_pb.d.ts
  api/gateway/admin/src/proto/status_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/proto/code_pb.js
  api/gateway/native/src/proto/error_details_pb.d.ts
  api/gateway/native/src/proto/error_details_pb.js
  api/gateway/native/src/proto/status_pb.d.ts
  api/gateway/native/src/proto/status_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/routes/v1/user.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/response/book.ts
  api/gateway/native/src/types/response/bookshelf.ts
  api/gateway/native/src/types/response/index.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/output/.keep
  api/server/book/internal/application/output/util.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/client.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/user/proto/user_apiv1.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#238 refactor: 書籍API周りのリファクタ
  api/gateway/admin/src/index.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/routes/v1/auth.ts
  api/gateway/admin/src/routes/v1/book.ts
  api/gateway/admin/src/routes/v1/user.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/routes/v1/book.ts
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/mock/domain/book/repository.go
Labels: backend (book api), refactor
