Repository calmato/gran-book, pull requests merged in 2021-05, with the labels that each got.

#242 feature: 書籍API周りの編集
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/output/user.ts
  api/gateway/native/src/types/response/book.ts
  api/gateway/native/src/types/response/bookshelf.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/domain/book/validation.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/internal/interface/grpc/v1/util.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/mock/domain/book/validation.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: backend (book api), bugfix, feature

#243 feature: 書籍API周りの編集
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/output/user.ts
  api/gateway/native/src/types/response/book.ts
  api/gateway/native/src/types/response/bookshelf.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/domain/book/validation.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/internal/interface/grpc/v1/util.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/mock/domain/book/validation.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: backend (book api), bugfix, feature

#235 Feature/native/user chat
  native/app/screens/Messages.tsx
Labels: feature, frontend (native)

#245 feature: レビュー取得APIの実装
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/review.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/output/user.ts
  api/gateway/native/src/types/response/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/client.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/user/internal/infrastructure/repository/client.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#246 feature: Book APIの実装
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/review.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/output/user.ts
  api/gateway/native/src/types/response/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/client.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  api/server/user/internal/infrastructure/repository/client.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#239 Feature/native/home
  native/app/components/organisms/ButtonGroupBookFooter.tsx
  native/app/screens/BookShow.tsx
Labels: design, frontend (native)

#248 feature: ミドルウェアバージョンの変更
  .github/workflows/cd-admin-for-master.yaml
  .github/workflows/cd-admin-for-release.yaml
  .github/workflows/ci-admin-for-all.yaml
  .github/workflows/ci-admin-gateway-for-all.yaml
  .github/workflows/ci-native-for-all.yaml
  .github/workflows/ci-native-gateway-for-all.yaml
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/admin/Dockerfile_development
  infra/docker/api/gateway/native/Dockerfile
  infra/docker/api/gateway/native/Dockerfile_development
  infra/docker/api/server/book/Dockerfile
  infra/docker/api/server/user/Dockerfile
  infra/docker/infra/gateway/Dockerfile
  infra/docker/infra/gateway/Dockerfile_development
  infra/docker/native/Dockerfile_development
  infra/docker/proto/Dockerfile
  infra/docker/web/admin/Dockerfile_development
  infra/kubernetes/stg/default/admin-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/book-api-deployment.yaml.temp
  infra/kubernetes/stg/default/native-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/user-api-deployment.yaml.temp
  web/admin/nuxt.config.js
  web/admin/package.json
  web/admin/spec/components/atoms/TheAlert.spec.ts
  web/admin/spec/components/atoms/TheFileInput.spec.ts
  web/admin/spec/components/atoms/TheSelect.spec.ts
  web/admin/spec/components/atoms/TheTextArea.spec.ts
  web/admin/spec/components/atoms/TheTextField.spec.ts
  web/admin/spec/components/organisms/AdminListTable.spec.ts
  web/admin/spec/components/organisms/AdminNewForm.spec.ts
  web/admin/spec/components/organisms/CommonHeader.spec.ts
  web/admin/spec/components/organisms/CommonSidebar.spec.ts
  web/admin/spec/components/organisms/CommonSidebarListItem.spec.ts
  web/admin/spec/components/organisms/CommonSnackbar.spec.ts
  web/admin/spec/components/organisms/SettingsAccountList.spec.ts
  web/admin/spec/components/organisms/SettingsEditEmailForm.spec.ts
  web/admin/spec/components/organisms/SettingsEditPasswordForm.spec.ts
  web/admin/spec/components/organisms/SettingsEditProfileForm.spec.ts
  web/admin/spec/components/organisms/SettingsProfileList.spec.ts
  web/admin/spec/components/organisms/SignInForm.spec.ts
  web/admin/spec/components/templates/AdminList.spec.ts
  web/admin/spec/components/templates/Settings.spec.ts
  web/admin/spec/components/templates/SettingsEditEmail.spec.ts
  web/admin/spec/components/templates/SettingsEditPassword.spec.ts
  web/admin/spec/components/templates/SettingsEditProfile.spec.ts
  web/admin/spec/components/templates/SignIn.spec.ts
  web/admin/yarn.lock
Labels: feature, infrastructure

#250 feature: 検証用ページの作成
  web/admin/app/components/organisms/CommonSidebar.vue
  web/admin/app/components/templates/Debug.vue
  web/admin/app/pages/debug.vue
  web/admin/app/store/auth.ts
  web/admin/package.json
  web/admin/spec/components/organisms/CommonSidebar.spec.ts
  web/admin/spec/components/templates/Debug.spec.ts
  web/admin/spec/store/auth.spec.ts
  web/admin/yarn.lock
Labels: feature, frontend (admin)

#249 feature: インフラ構成の変更
  infra/docker/infra/terraform/Dockerfile
  infra/fluent-bit/stg/filters.conf
  infra/fluent-bit/stg/fluent-bit.conf
  infra/fluent-bit/stg/inputs.conf
  infra/fluent-bit/stg/outputs.conf
  infra/fluent-bit/stg/parsers.conf
  infra/kubernetes/stg/default/busybox-pod.yaml
  infra/kubernetes/stg/logging/fluent-bit-configmap.yaml
  infra/kubernetes/stg/logging/fluent-bit-daemonset.yaml
  infra/kubernetes/stg/logging/fluent-bit-secret.yaml.temp
  infra/terraform/env/stg/main.tf
  infra/terraform/examples/main.tf
  infra/terraform/modules/gke/gke-node.tf
  infra/terraform/modules/gke/locals.tf
  infra/terraform/modules/gke/variables.tf
Labels: infrastructure, monitorinig

#247 feature: Notification APIの初期設定
  api/server/notification/.gitignore
  api/server/notification/.golangci.yaml
  api/server/notification/.realize.yaml
  api/server/notification/Makefile
  api/server/notification/cmd/main.go
  api/server/notification/config/environment.go
  api/server/notification/config/exec.go
  api/server/notification/config/grpc.go
  api/server/notification/config/logger.go
  api/server/notification/config/metrics.go
  api/server/notification/go.mod
  api/server/notification/go.sum
  api/server/notification/internal/application/auth.go
  api/server/notification/internal/application/auth_test.go
  api/server/notification/internal/application/input/.keep
  api/server/notification/internal/application/output/.keep
  api/server/notification/internal/application/validation/.keep
  api/server/notification/internal/domain/auth/repository.go
  api/server/notification/internal/domain/auth/service.go
  api/server/notification/internal/domain/exception/error.go
  api/server/notification/internal/domain/exception/validation.go
  api/server/notification/internal/infrastructure/repository/auth.go
  api/server/notification/internal/infrastructure/service/auth.go
  api/server/notification/internal/infrastructure/service/auth_test.go
  api/server/notification/internal/infrastructure/storage/.keep
  api/server/notification/internal/infrastructure/validation/.keep
  api/server/notification/internal/interface/grpc/v1/error.go
  api/server/notification/lib/array/contains.go
  api/server/notification/lib/array/contains_test.go
  api/server/notification/lib/array/convert.go
  api/server/notification/lib/array/convert_test.go
  api/server/notification/lib/datetime/format.go
  api/server/notification/lib/datetime/format_test.go
  api/server/notification/lib/firebase/authentication/client.go
  api/server/notification/lib/firebase/client.go
  api/server/notification/lib/firebase/firestore/client.go
  api/server/notification/lib/firebase/storage/client.go
  api/server/notification/lib/metadata/metadata.go
  api/server/notification/mock/domain/auth/repository.go
  api/server/notification/mock/domain/auth/service.go
  api/server/notification/registry/registry.go
Labels: feature

#254 feature: プロフィール編集機能の更新
  web/admin/app/components/atoms/TheFileInput.vue
  web/admin/app/components/organisms/SettingsEditProfileForm.vue
  web/admin/app/pages/settings/profile.vue
  web/admin/app/store/auth.ts
  web/admin/app/types/forms/auth.ts
  web/admin/app/types/requests/auth.ts
  web/admin/app/types/responses/auth.ts
  web/admin/spec/components/atoms/TheFileInput.spec.ts
  web/admin/spec/components/organisms/SettingsEditProfileForm.spec.ts
  web/admin/spec/components/templates/SettingsEditProfile.spec.ts
  web/admin/spec/helpers/response/auth.ts
  web/admin/spec/helpers/response/index.ts
  web/admin/spec/store/auth.spec.ts
Labels: frontend (admin)

#255 test: お知らせ関連のテストを作成
  web/admin/app/components/organisms/NotificationListTable.vue
  web/admin/app/components/templates/Debug.vue
  web/admin/app/components/templates/NotificationList.vue
  web/admin/app/pages/notifications/index.vue
  web/admin/spec/components/organisms/NotificationListTable.spec.ts
  web/admin/spec/components/organisms/NotificationNewForm.spec.ts
  web/admin/spec/components/templates/NotificationList.spec.ts
Labels: test

#257 feature: 管理者情報編集画面のUI実装
  web/admin/app/components/organisms/AdminEditForm.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/pages/admin/index.vue
Labels: feature, frontend (admin)

#258 feature: 管理者情報編集機能の型定義
  web/admin/app/components/organisms/AdminEditForm.vue
  web/admin/app/components/organisms/AdminNewForm.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/types/forms/admin.ts
Labels: frontend (admin)

#256 feature: 管理者一覧画面の編集
  web/admin/app/components/organisms/AdminListTable.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/store/auth.ts
  web/admin/spec/components/organisms/AdminListTable.spec.ts
  web/admin/spec/components/templates/AdminList.spec.ts
  web/admin/spec/store/auth.spec.ts
Labels: feature, frontend (admin)

#260 fix: ファイルインプット関連の修正
  web/admin/app/components/atoms/TheFileInput.vue
  web/admin/app/components/organisms/AdminEditForm.vue
  web/admin/app/components/organisms/SettingsEditProfileForm.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/pages/settings/profile.vue
  web/admin/app/plugins/vee-validate.ts
  web/admin/app/store/auth.ts
  web/admin/app/types/forms/admin.ts
  web/admin/app/types/forms/auth.ts
  web/admin/spec/components/atoms/TheFileInput.spec.ts
  web/admin/spec/components/organisms/SettingsEditProfileForm.spec.ts
  web/admin/spec/components/templates/SettingsEditProfile.spec.ts
  web/admin/spec/store/auth.spec.ts
Labels: bugfix, frontend (admin)

#261 feature: 管理者情報編集機能の実装
  web/admin/app/pages/admin/index.vue
  web/admin/app/store/admin.ts
  web/admin/app/types/requests/admin.ts
  web/admin/app/types/responses/admin.ts
Labels: feature, frontend (admin)

#262 test: 管理者情報編集機能のテスト作成
  web/admin/app/store/admin.ts
  web/admin/spec/components/organisms/AdminEditForm.spec.ts
  web/admin/spec/components/templates/AdminList.spec.ts
  web/admin/spec/helpers/response/admin.ts
  web/admin/spec/helpers/response/index.ts
  web/admin/spec/store/admin.spec.ts
Labels: frontend (admin), test

#253 Added notification db
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
Labels: database

#244 Feature/native/user chat
  native/app/components/organisms/MessageItem.tsx
  native/app/screens/Messages.tsx
  native/constants/theme.ts
Labels: feature, frontend (native)

#263 feature: 管理者情報詳細画面の実装
  web/admin/app/components/organisms/AdminEditContactForm.vue
  web/admin/app/components/organisms/AdminEditProfileForm.vue
  web/admin/app/components/organisms/AdminEditSecurityForm.vue
  web/admin/app/components/organisms/AdminListTable.vue
  web/admin/app/components/organisms/AdminShowContactList.vue
  web/admin/app/components/organisms/AdminShowProfileList.vue
  web/admin/app/components/organisms/AdminShowSecurityList.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/components/templates/AdminShow.vue
  web/admin/app/pages/admin/_id.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/store/admin.ts
  web/admin/app/types/forms/admin.ts
  web/admin/app/types/props/templates/AdminList.ts
  web/admin/app/types/requests/admin.ts
  web/admin/app/types/store/admin.ts
  web/admin/spec/components/organisms/AdminEditContactForm.spec.ts
  web/admin/spec/components/organisms/AdminEditProfileForm.spec.ts
  web/admin/spec/components/organisms/AdminEditSecurityForm.spec.ts
  web/admin/spec/components/organisms/AdminListTable.spec.ts
  web/admin/spec/components/organisms/AdminShowContactList.spec.ts
  web/admin/spec/components/organisms/AdminShowProfileList.spec.ts
  web/admin/spec/components/organisms/AdminShowSecurityList.spec.ts
  web/admin/spec/components/templates/AdminList.spec.ts
  web/admin/spec/components/templates/AdminShow.spec.ts
  web/admin/spec/helpers/response/admin.ts
  web/admin/spec/helpers/response/index.ts
  web/admin/spec/store/admin.spec.ts
Labels: feature, frontend (admin)

#265 feature: 管理者更新APIの編集
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/admin/src/types/request/admin.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/mock/application/validation/admin.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#266 feature: APIサーバ起動設定の編集
  api/server/information/bin/build-mocks.sh
  api/server/information/config/environment.go
  api/server/information/config/exec.go
  api/server/information/go.mod
  api/server/information/go.sum
  api/server/information/internal/infrastructure/repository/client.go
  api/server/information/registry/registry.go
  api/server/user/config/exec.go
  api/server/user/go.mod
  api/server/user/go.sum
  api/server/user/lib/firebase/firestore/client.go
  api/server/user/registry/registry.go
Labels: backend (information api)

#267 feature: fluent-bit周りの設定変更
  api/gateway/admin/package.json
  api/gateway/admin/src/config/logger.ts
  api/gateway/admin/src/lib/log-handler.ts
  api/gateway/admin/tsconfig.json
  api/gateway/admin/yarn.lock
  api/gateway/native/package.json
  api/gateway/native/src/config/logger.ts
  api/gateway/native/src/lib/log-handler.ts
  api/gateway/native/tsconfig.json
  api/gateway/native/yarn.lock
  infra/fluent-bit/stg/filters.conf
  infra/fluent-bit/stg/parsers.conf
  infra/kubernetes/stg/logging/fluent-bit-configmap.yaml
Labels: infrastructure

#270 Feature: notification apiのdocker設定
  docker-compose.yaml
  infra/docker/api/server/information/Dockerfile
  infra/docker/api/server/information/Dockerfile_development
Labels: infrastructure

#273 feature: [管理コンソール] 書籍管理トップ画面のUI実装
  web/admin/app/components/organisms/BookListItem.vue
  web/admin/app/components/organisms/BookSearchForm.vue
  web/admin/app/components/organisms/CommonSidebar.vue
  web/admin/app/components/templates/BookList.vue
  web/admin/app/pages/books/index.vue
  web/admin/app/types/props/organisms/BookSearchForm.ts
  web/admin/app/types/props/organisms/index.ts
  web/admin/spec/components/organisms/CommonSidebar.spec.ts
Labels: feature, frontend (admin)

#278 fix: 書籍APIのレスポンス修正
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/admin/src/proto/information_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/information_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/information_apiv1_pb.d.ts
  api/gateway/admin/src/proto/information_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/proto/information_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/information_apiv1_grpc_pb.js
  api/gateway/native/src/proto/information_apiv1_pb.d.ts
  api/gateway/native/src/proto/information_apiv1_pb.js
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/types/book.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/request/book.ts
  api/gateway/native/src/types/response/book.ts
  api/gateway/native/src/types/response/bookshelf.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/proto/book_apiv1.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/book_apiv1.proto
Labels: bugfix, gateway (native)

#271 Feature/native/home
  native/app/components/atoms/Book.tsx
  native/app/components/molecules/BookList.tsx
  native/app/components/organisms/ButtonGroupBookFooter.tsx
  native/app/containers/BookShow.tsx
  native/app/containers/Home.tsx
  native/app/containers/index.ts
  native/app/lib/converter/index.ts
  native/app/routes/HomeTabRoute.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
  native/app/store/models/book.ts
  native/app/store/models/index.ts
  native/app/store/modules/book.ts
  native/app/store/modules/index.ts
  native/app/store/selectors/book.ts
  native/app/store/selectors/index.ts
  native/app/store/usecases/book.ts
  native/app/store/usecases/index.ts
  native/app/types/models/book.ts
  native/app/types/navigation/index.ts
  native/app/types/response/book.ts
  native/app/types/response/index.ts
  native/test/lib/converter/index.test.ts
Labels: frontend (native), refactor

#282 feature: 書籍API周りの更新等
  .github/workflows/ci-information-api-for-all.yaml
  Makefile
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/admin/src/proto/information_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/information_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/information_apiv1_pb.d.ts
  api/gateway/admin/src/proto/information_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/proto/information_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/information_apiv1_grpc_pb.js
  api/gateway/native/src/proto/information_apiv1_pb.d.ts
  api/gateway/native/src/proto/information_apiv1_pb.js
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/types/book.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/request/book.ts
  api/gateway/native/src/types/response/book.ts
  api/gateway/native/src/types/response/bookshelf.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/information/config/grpc.go
  api/server/information/go.mod
  api/server/information/internal/interface/grpc/v1/notification.go
  api/server/information/proto/information_apiv1.pb.go
  api/server/information/proto/information_apiv1_grpc.pb.go
  docker-compose.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/Makefile
  proto/proto/book_apiv1.proto
  proto/proto/information_apiv1.proto
Labels: backend (book api), backend (information api)

#279 feature: ログ周りのリファクタ
  api/gateway/admin/src/lib/grpc-metadata.ts
  api/gateway/native/src/lib/grpc-metadata.ts
  api/server/book/config/grpc.go
  api/server/information/config/grpc.go
  api/server/user/config/grpc.go
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
  infra/nginx/staging.conf
Labels: monitorinig

#283 feature: APIのログ周りの設定
  api/gateway/admin/src/lib/grpc-metadata.ts
  api/gateway/native/src/lib/grpc-metadata.ts
  api/server/book/config/grpc.go
  api/server/information/config/grpc.go
  api/server/user/config/grpc.go
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
  infra/nginx/staging.conf
Labels: feature

#284 ESLintとPrettierの設定を変更
  .gitignore
  .vscode/settings.json
  native/.eslintrc.js
  native/app/components/atoms/Book.tsx
  native/app/components/molecules/BookList.tsx
  native/app/components/molecules/SearchResultItem.tsx
  native/app/components/organisms/ButtonGroupBookFooter.tsx
  native/app/components/organisms/FlexBoxBookCategory.tsx
  native/app/components/organisms/MessageItem.tsx
  native/app/containers/BookShow.tsx
  native/app/containers/Home.tsx
  native/app/containers/SignInSelect.tsx
  native/app/lib/converter/index.ts
  native/app/lib/rakuten-books/index.ts
  native/app/lib/util/index.ts
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
  native/app/screens/Messages.tsx
  native/app/screens/SignIn.tsx
  native/app/screens/SignInSelect.tsx
  native/app/store/models/book.ts
  native/app/store/modules/book.ts
  native/app/store/usecases/book.ts
  native/app/types/models/book.ts
  native/app/types/response/book.ts
  native/app/types/response/external/rakuten-books/index.ts
  native/package.json
  native/test/lib/converter/index.test.ts
  native/test/lib/rakuten-books/index.test.ts
  native/test/lib/utils/index.test.ts
  native/yarn.lock
Labels: refactor, sytle

#277 Feature: information swaggerの設定
  docs/12_backend/11_swagger/admin.apiv1.yaml
Labels: documentation, feature
