Repository calmato/gran-book, pull requests merged in 2021-03, with the labels that each got.

#134 Feature/home/view
  native/app/components/atoms/Book.tsx
  native/app/components/molecules/BookList.tsx
  native/app/routes/index.tsx
  native/app/screens/Home.tsx
  native/app/screens/MyPage.tsx
  native/assets/sample/book.ts
  native/package.json
  native/yarn.lock
Labels: design, feature, frontend (native)

#132 Feature/native/password edit
  native/app/containers/PasswordEdit.tsx
  native/app/containers/index.ts
  native/app/screens/PasswordEdit.tsx
  native/app/store/usecases/auth.ts
  native/app/types/forms/index.ts
Labels: design, feature

#127 Feature/native/navigation setting
  native/app/routes/ServiceRoute.tsx
  native/app/routes/UserInfoRoute.tsx
  native/app/screens/MyPage.tsx
  native/app/screens/OwnProfile.tsx
  native/app/types/navigation/index.ts
Labels: feature, frontend (native)

#126 Feature/native/email edit
  native/app/components/molecules/MailInput.tsx
  native/app/screens/EmailEdit.tsx
  native/app/screens/PasswordReset.tsx
  native/app/screens/SignIn.tsx
  native/app/screens/SignUp.tsx
  native/constants/theme.ts
Labels: feature, frontend (native)

#125 Feature/native/profile edit
  native/app/components/organisms/ChangeIconGroup.tsx
  native/app/components/organisms/ChangeNickname.tsx
  native/app/components/organisms/GenderRadioGroup.tsx
  native/app/screens/ProfileEdit.tsx
  native/app/types/forms/index.ts
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#135 feature: 管理者登録周りの実装
  web/admin/app/components/atoms/TheSelect.vue
  web/admin/app/components/organisms/AdminNewForm.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/store/admin.ts
  web/admin/app/store/auth.ts
  web/admin/app/store/common.ts
  web/admin/app/types/forms/admin.ts
  web/admin/app/types/forms/utils.ts
  web/admin/app/types/requests/admin.ts
  web/admin/app/types/requests/index.ts
  web/admin/app/types/responses/admin.ts
  web/admin/spec/components/atoms/TheSelect.spec.ts
  web/admin/spec/components/organisms/AdminNewForm.spec.ts
  web/admin/spec/components/templates/AdminList.spec.ts
  web/admin/spec/helpers/response/admin.ts
  web/admin/spec/helpers/response/index.ts
  web/admin/spec/helpers/store-helper.ts
  web/admin/spec/store/admin.spec.ts
  web/admin/spec/store/auth.spec.ts
  web/admin/spec/store/common.spec.ts
Labels: feature, frontend (admin)

#139 fix: APIへのリクエスト周りの修正
  web/admin/app/components/organisms/AdminListTable.vue
  web/admin/app/components/organisms/SettingsEditEmailForm.vue
  web/admin/app/components/organisms/SettingsEditPasswordForm.vue
  web/admin/app/components/organisms/SettingsEditProfileForm.vue
  web/admin/app/components/organisms/SignInForm.vue
  web/admin/app/components/templates/AdminList.vue
  web/admin/app/components/templates/SettingsEditEmail.vue
  web/admin/app/components/templates/SettingsEditPassword.vue
  web/admin/app/components/templates/SettingsEditProfile.vue
  web/admin/app/components/templates/SignIn.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/pages/settings/email.vue
  web/admin/app/pages/settings/password.vue
  web/admin/app/pages/settings/profile.vue
  web/admin/app/pages/signin.vue
  web/admin/app/store/common.ts
  web/admin/app/types/forms/auth.ts
  web/admin/app/types/store/common.ts
  web/admin/spec/components/organisms/AdminListTable.spec.ts
Labels: bugfix, frontend (admin)

#140 test: UI/UX変更に伴うテストの修正
  web/admin/app/store/admin.ts
  web/admin/spec/components/organisms/SettingsEditEmailForm.spec.ts
  web/admin/spec/components/organisms/SettingsEditPasswordForm.spec.ts
  web/admin/spec/components/organisms/SettingsEditProfileForm.spec.ts
  web/admin/spec/components/organisms/SignInForm.spec.ts
  web/admin/spec/components/templates/SettingsEditEmail.spec.ts
  web/admin/spec/components/templates/SettingsEditPassword.spec.ts
  web/admin/spec/components/templates/SettingsEditProfile.spec.ts
  web/admin/spec/components/templates/SignIn.spec.ts
  web/admin/spec/helpers/response/admin.ts
  web/admin/spec/store/admin.spec.ts
  web/admin/spec/store/common.spec.ts
Labels: frontend (admin), test

#136 Feature/search book
  native/app/components/atoms/Book.tsx
  native/app/components/atoms/HeaderText.tsx
  native/app/components/molecules/SearchBar.tsx
  native/app/components/molecules/SearchResultItem.tsx
  native/app/components/organisms/SearchResultItemList.tsx
  native/app/lib/GoogleBooksAPI/index.ts
  native/app/routes/HomeTabRoute.tsx
  native/app/routes/ServiceRoute.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
  native/app/screens/SearchResult.tsx
  native/app/types/navigation/index.ts
  native/app/types/response/index.ts
  native/app/types/response/search.ts
Labels: design, feature, frontend (native)

#141 feat: ユーザプロフィール取得用Protoの定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#145 refactor: 型定義の修正
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/proto/user_apiv1.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), refactor

#146 feat: リレーションシップ操作用のProto定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#148 feature: リレーションシップ周りのAPI実装
  api/gateway/admin/.eslintrc.js
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/.eslintrc.js
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/routes/v1/user.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/output/user.ts
  api/gateway/native/src/types/response/user.ts
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/user.go
  api/server/user/internal/application/output/user.go
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/application/validation/user.go
  api/server/user/internal/application/validation/user_test.go
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/domain/user/validation.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/infrastructure/validation/user.go
  api/server/user/internal/infrastructure/validation/user_test.go
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/mock/application/validation/user.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/mock/domain/user/validation.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
  docs/13_database/db_design.md
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature, frontend (native)

#149 feature: リレーションシップ周りのAPI実装
  api/gateway/admin/.eslintrc.js
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/.eslintrc.js
  api/gateway/native/src/api/index.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/plugins/grpc.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/user.ts
  api/gateway/native/src/types/input/index.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/output/index.ts
  api/gateway/native/src/types/output/user.ts
  api/gateway/native/src/types/response/index.ts
  api/gateway/native/src/types/response/user.ts
  api/server/user/config/grpc.go
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/user.go
  api/server/user/internal/application/output/user.go
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/application/validation/user.go
  api/server/user/internal/application/validation/user_test.go
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/domain/user/validation.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/infrastructure/validation/user.go
  api/server/user/internal/infrastructure/validation/user_test.go
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/mock/application/validation/user.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/mock/domain/user/validation.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  api/server/user/registry/registry.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
  docs/13_database/db_design.md
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature, gateway (native)

#150 fix: SELECT系のSQLを修正
  api/server/user/internal/infrastructure/repository/user.go
Labels: backend (user api), bugfix

#151 feature: フォロー/フォロワー一覧取得APIの実装
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/go.sum
  api/server/user/internal/application/user.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/lib/array/contains.go
  api/server/user/lib/array/contains_test.go
  api/server/user/lib/array/convert.go
  api/server/user/lib/array/convert_test.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/proto/user_apiv1.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#147 refactor: Prettier周りの設定
  native/package.json
Labels: frontend (native), refactor

#154 feature: 管理者検索用Protoの作成
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/mock/application/validation/admin.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
Labels: backend (user api), feature, gateway (admin)

#155 feature: 管理者検索機能の実装
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/mock/application/validation/admin.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#158 feature: 認証周りの実装
  api/server/book/go.mod
  api/server/book/go.sum
  api/server/book/internal/application/auth.go
  api/server/book/internal/application/auth_test.go
  api/server/book/internal/domain/auth/.keep
  api/server/book/internal/domain/auth/repository.go
  api/server/book/internal/domain/auth/service.go
  api/server/book/internal/infrastructure/repository/auth.go
  api/server/book/internal/infrastructure/service/.keep
  api/server/book/internal/infrastructure/service/auth.go
  api/server/book/internal/infrastructure/service/auth_test.go
  api/server/book/mock/domain/auth/repository.go
  api/server/book/mock/domain/auth/service.go
  api/server/book/registry/registry.go
Labels: backend (book api), feature

#163 fix: DB周りのバグの修正
  api/server/user/internal/domain/user/entity.go
Labels: backend (user api), bugfix

#164 fix: gRPCからの値の取得周りのコード修正
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/lib/array/convert.go
  api/server/book/lib/array/convert_test.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/internal/interface/grpc/v1/auth.go
  api/server/user/internal/interface/grpc/v1/user.go
  api/server/user/lib/array/convert.go
  api/server/user/lib/array/convert_test.go
Labels: backend (user api), bugfix

#165 Feature/native/edit account
  .gitignore
  native/app/components/molecules/PrefecturePicker.tsx
  native/app/containers/AccountEdit.tsx
  native/app/containers/index.ts
  native/app/lib/axios/external.ts
  native/app/lib/axios/index.ts
  native/app/lib/axios/internal.ts
  native/app/screens/AccountEdit.tsx
  native/app/store/usecases/auth.ts
  native/app/types/forms/index.ts
Labels: feature, frontend (native)

#168 feature: 書籍登録APIの実装
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/book_apiv1_pb.d.ts
  api/gateway/admin/src/proto/book_apiv1_pb.js
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_grpc_pb.js
  api/gateway/native/src/proto/book_apiv1_pb.d.ts
  api/gateway/native/src/proto/book_apiv1_pb.js
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/types/input/book.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/request/book.ts
  api/gateway/native/src/types/response/book.ts
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/input/book.go
  api/server/book/internal/application/validation/book.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/application/validation/validator.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/domain/book/service.go
  api/server/book/internal/domain/book/validation.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/client.go
  api/server/book/internal/infrastructure/service/book.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/book/lib/datetime/format.go
  api/server/book/lib/datetime/format_test.go
  api/server/book/mock/application/validation/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/domain/book/service.go
  api/server/book/mock/domain/book/validation.go
  api/server/book/proto/book_apiv1.pb.go
  api/server/book/proto/book_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  docs/13_database/gran-book_db.mwb
  infra/mysql/development.cnf
  infra/mysql/sql/01-create.sql
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#169 docs: Update swagger
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: documentation

#170 feature: アプリ再起動後もログイン情報が保持されるように
  native/app/containers/AccountSetting.tsx
  native/app/containers/index.ts
  native/app/routes/UserInfoRoute.tsx
  native/app/routes/index.tsx
  native/app/screens/AccoutSetting.tsx
  native/app/store/usecases/auth.ts
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)
