Repository calmato/gran-book, pull requests merged in 2021-09, with the labels that each got.

#386 Refactor/api/add domain test
  api/server/book/Makefile
  api/server/book/internal/domain/book/entity_test.go
  api/server/user/Makefile
  api/server/user/internal/domain/chat/entity.go
  api/server/user/internal/domain/chat/entity_test.go
  api/server/user/internal/domain/user/entity_test.go
  api/server/user/internal/interface/server/chat_test.go
Labels: test, backend (user api), backend (book api)

#389 Develop/admin
  api/gateway/admin/internal/server/v1/auth.go
  web/admin/app/components/organisms/AdminListTable.vue
  web/admin/app/store/admin.ts
  web/admin/app/store/auth.ts
  web/admin/jest.config.js
  web/admin/package.json
  web/admin/spec/helpers/component-helper.ts
  web/admin/spec/helpers/store-helper.ts
  web/admin/yarn.lock
Labels: frontend (admin), gateway (admin)

#383 Feature/home/view
  native/app/components/organisms/RecommendBooks.tsx
  native/app/hooks/useRecommendBooks.ts
  native/app/lib/rakuten-books/index.ts
  native/app/screens/Home.tsx
  native/package.json
  native/test/hooks/rakuten-books-response.sample.json
  native/test/hooks/useRecommendBooks.test.ts
  native/yarn.lock
Labels: test, frontend (native), mergeable

#392 feature: ユーザーごとにトップページに表示する情報取得用のAPIを実装
  api/gateway/native/internal/entity/book.go
  api/gateway/native/internal/entity/book_test.go
  api/gateway/native/internal/entity/bookshelf.go
  api/gateway/native/internal/entity/bookshelf_test.go
  api/gateway/native/internal/entity/review.go
  api/gateway/native/internal/entity/review_test.go
  api/gateway/native/internal/entity/top.go
  api/gateway/native/internal/entity/top_test.go
  api/gateway/native/internal/server/registry.go
  api/gateway/native/internal/server/v1/top.go
  api/gateway/native/pkg/datetime/jst.go
  api/server/book/internal/application/book.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/domain/book/entity_test.go
  api/server/book/internal/domain/book/repository.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/book_test.go
  api/server/book/internal/interface/server/book.go
  api/server/book/internal/interface/server/book_test.go
  api/server/book/internal/interface/validation/book.go
  api/server/book/internal/interface/validation/book_test.go
  api/server/book/mock/application/book.go
  api/server/book/mock/domain/book/repository.go
  api/server/book/mock/interface/validation/book.go
  api/server/book/pkg/datetime/format.go
  api/server/book/pkg/datetime/format_test.go
  proto/proto/service/book_service.proto
Labels: test, backend (book api), gateway (native)

#393 fix: タイムゾーン変換周りでPanicが起きているのを修正
  api/gateway/native/pkg/datetime/jst.go
  api/gateway/native/pkg/datetime/jst_test.go
Labels: bugfix, gateway (native)

#395 fix: datetime format
  api/gateway/native/internal/server/v1/top.go
  api/gateway/native/pkg/datetime/jst.go
  api/gateway/native/pkg/datetime/jst_test.go
Labels: gateway (native)

#397 fix: top user response
  api/gateway/native/internal/entity/top.go
  api/gateway/native/internal/entity/top_test.go
  api/gateway/native/internal/server/v1/top.go
Labels: gateway (native)

#400 feat: add test code in native gateway entity
  api/gateway/native/internal/entity/book_test.go
  api/gateway/native/internal/entity/bookshelf_test.go
  api/gateway/native/internal/entity/chat_test.go
  api/gateway/native/internal/entity/common_test.go
  api/gateway/native/internal/entity/review_test.go
  api/gateway/native/internal/entity/user_test.go
  api/gateway/native/internal/response/v1/auth.go
  api/gateway/native/internal/response/v1/auth_test.go
  api/gateway/native/internal/response/v1/book.go
  api/gateway/native/internal/response/v1/book_test.go
  api/gateway/native/internal/response/v1/bookshelf.go
  api/gateway/native/internal/response/v1/bookshelf_test.go
  api/gateway/native/internal/response/v1/chat.go
  api/gateway/native/internal/response/v1/chat_test.go
  api/gateway/native/internal/response/v1/review.go
  api/gateway/native/internal/response/v1/review_test.go
  api/gateway/native/internal/response/v1/top.go
  api/gateway/native/internal/response/v1/top_test.go
  api/gateway/native/internal/response/v1/user.go
  api/gateway/native/internal/response/v1/user_test.go
  api/gateway/native/internal/response/v2/book.go
  api/gateway/native/internal/response/v2/book_test.go
  api/gateway/native/internal/response/v2/bookshelf.go
  api/gateway/native/internal/response/v2/bookshelf_test.go
  api/gateway/native/internal/server/v1/auth.go
  api/gateway/native/internal/server/v1/book.go
  api/gateway/native/internal/server/v1/bookshelf.go
  api/gateway/native/internal/server/v1/chat.go
  api/gateway/native/internal/server/v1/review.go
  api/gateway/native/internal/server/v1/top.go
  api/gateway/native/internal/server/v1/user.go
  api/gateway/native/internal/server/v2/book.go
  api/gateway/native/internal/server/v2/bookshelf.go
  api/gateway/native/pkg/test/mock.go
Labels: gateway (native)

#399 refactor: table name
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/infrastructure/repository/book_test.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/repository/user_test.go
Labels: test, backend (user api), backend (book api)

#401 feat: add auth test in native gateway
  api/gateway/native/internal/request/v1/auth.go
  api/gateway/native/internal/server/v1/auth.go
  api/gateway/native/internal/server/v1/auth_test.go
  api/gateway/native/pkg/test/api.go
Labels: gateway (native)

#402 Test/gateway/add test code in native gateway
  api/gateway/native/internal/request/v1/book.go
  api/gateway/native/internal/request/v1/chat.go
  api/gateway/native/internal/server/registry.go
  api/gateway/native/internal/server/router.go
  api/gateway/native/internal/server/v1/api.go
  api/gateway/native/internal/server/v1/api_test.go
  api/gateway/native/internal/server/v1/auth.go
  api/gateway/native/internal/server/v1/auth_test.go
  api/gateway/native/internal/server/v1/book.go
  api/gateway/native/internal/server/v1/book_test.go
  api/gateway/native/internal/server/v1/bookshelf.go
  api/gateway/native/internal/server/v1/bookshelf_test.go
  api/gateway/native/internal/server/v1/chat.go
  api/gateway/native/internal/server/v1/chat_test.go
  api/gateway/native/internal/server/v1/review.go
  api/gateway/native/internal/server/v1/review_test.go
  api/gateway/native/internal/server/v1/top.go
  api/gateway/native/internal/server/v1/top_test.go
  api/gateway/native/internal/server/v1/user.go
  api/gateway/native/internal/server/v1/user_test.go
  api/gateway/native/internal/server/v2/api.go
  api/gateway/native/internal/server/v2/api_test.go
  api/gateway/native/internal/server/v2/book.go
  api/gateway/native/internal/server/v2/book_test.go
  api/gateway/native/internal/server/v2/bookshelf.go
  api/gateway/native/internal/server/v2/bookshelf_test.go
  api/gateway/native/pkg/test/api.go
  api/gateway/native/pkg/test/calmato.png
  api/gateway/native/pkg/test/mock.go
Labels: gateway (native)

#403 feat: improvement coverage in native gateway
  api/gateway/native/internal/response/v1/bookshelf_test.go
  api/gateway/native/internal/response/v1/chat.go
  api/gateway/native/internal/response/v1/chat_test.go
  api/gateway/native/internal/response/v1/review_test.go
Labels: gateway (native)

#404 feat: add test code
  api/gateway/native/Makefile
  api/gateway/native/internal/entity/book_test.go
  api/gateway/native/internal/entity/bookshelf_test.go
  api/gateway/native/internal/entity/chat_test.go
  api/gateway/native/internal/entity/common.go
  api/gateway/native/internal/entity/common_test.go
  api/gateway/native/internal/entity/exception_test.go
  api/gateway/native/internal/entity/review_test.go
  api/gateway/native/internal/entity/top_test.go
  api/gateway/native/internal/entity/user_test.go
  api/gateway/native/internal/response/v2/book_test.go
  api/gateway/native/internal/response/v2/bookshelf_test.go
  api/gateway/native/pkg/array/contains.go
  api/gateway/native/pkg/array/contains_test.go
  api/gateway/native/pkg/array/convert.go
  api/gateway/native/pkg/array/convert_test.go
Labels: gateway (native)

#405 Test/gateway/improve coverage native gateway
  api/gateway/native/internal/request/v1/chat.go
  docs/12_backend/11_swagger/admin/components/schemas/v1/admin.response.yaml
  docs/12_backend/11_swagger/admin/components/schemas/v1/notification.request.yaml
  docs/12_backend/11_swagger/admin/components/schemas/v1/notification.response.yaml
  docs/12_backend/11_swagger/admin/components/schemas/v1/user.response.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/book.request.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/book.response.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/bookshelf.response.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/chat.request.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/chat.response.yaml
  docs/12_backend/11_swagger/native/components/schemas/v1/user.response.yaml
  docs/12_backend/11_swagger/native/components/schemas/v2/book.response.yaml
  docs/12_backend/11_swagger/native/components/schemas/v2/bookshelf.response.yaml
  docs/12_backend/11_swagger/native/openapi.yaml
  docs/12_backend/11_swagger/native/paths/v1/book.review-by-id.yaml
  docs/12_backend/11_swagger/native/paths/v1/bookshelf.review-by-id.yaml
Labels: documentation, gateway (native)

#406 Test/api/improve coverage book api
  api/server/book/go.mod
  api/server/book/go.sum
  api/server/book/internal/domain/exception/error_test.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/book/internal/interface/server/book.go
  api/server/book/internal/interface/server/book_test.go
  api/server/book/internal/interface/server/error.go
  api/server/book/internal/interface/server/error_test.go
  api/server/book/internal/interface/validation/book.go
  api/server/book/internal/interface/validation/book_test.go
  api/server/book/internal/interface/validation/validator.go
  api/server/book/internal/interface/validation/validator_test.go
Labels: test, backend (book api)

#357 feat: 自分の感想一覧ページ
  native/app/containers/OwnReviews.tsx
  native/app/containers/index.ts
  native/app/routes/UserInfoRoute.tsx
  native/app/screens/MyPage.tsx
  native/app/screens/OwnReviews.tsx
  native/app/store/usecases/book.ts
  native/app/types/navigation/index.ts
  native/app/types/response/external/rakuten-books/index.ts
Labels: feature, frontend (native), mergeable

#408 fix: native gateway routes
  api/gateway/native/internal/server/router.go
Labels: bugfix, gateway (native)
