Repository calmato/gran-book, pull requests merged in 2021-06, with the labels that each got.

#286 書籍管理機能の実装
  native/app/components/molecules/BookList.tsx
  native/app/components/organisms/ButtonGroupBookFooter.tsx
  native/app/containers/BookShow.tsx
  native/app/lib/converter/index.ts
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
  native/app/store/models/book.ts
  native/app/store/usecases/book.ts
  native/app/types/response/book.ts
  native/test/lib/converter/index.test.ts
Labels: design, feature, frontend (native)

#285 Feature: Added notification .proto file
  api/gateway/admin/src/proto/information_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/information_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/information_apiv1_pb.d.ts
  api/gateway/admin/src/proto/information_apiv1_pb.js
  api/gateway/native/src/proto/information_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/information_apiv1_grpc_pb.js
  api/gateway/native/src/proto/information_apiv1_pb.d.ts
  api/gateway/native/src/proto/information_apiv1_pb.js
  api/server/information/internal/interface/grpc/v1/notification.go
  api/server/information/proto/information_apiv1.pb.go
  api/server/information/proto/information_apiv1_grpc.pb.go
  proto/proto/information_apiv1.proto
Labels: feature

#290 Feature: 楽天Books APIの検索結果の画面でスクロールによるページネーションの実装
  native/app/components/organisms/SearchResultItemList.tsx
  native/app/lib/rakuten-books/index.ts
  native/app/screens/Home.tsx
  native/app/screens/SearchResult.tsx
  native/app/types/navigation/index.ts
Labels: feature, frontend (native)

#296 feature: Chat ServiceのProto定義
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#295 feature: Docker Composeの設定を変更
  .env.temp
  docker-compose.yaml
Labels: infrastructure

#298 Feature/api/create chat room
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/config/grpc.go
  api/server/user/internal/application/chat.go
  api/server/user/internal/application/chat_test.go
  api/server/user/internal/application/input/chat.go
  api/server/user/internal/application/validation/chat.go
  api/server/user/internal/application/validation/chat_test.go
  api/server/user/internal/domain/chat/entity.go
  api/server/user/internal/domain/chat/repository.go
  api/server/user/internal/domain/chat/service.go
  api/server/user/internal/domain/chat/validation.go
  api/server/user/internal/infrastructure/repository/chat.go
  api/server/user/internal/infrastructure/repository/context.go
  api/server/user/internal/infrastructure/service/chat.go
  api/server/user/internal/infrastructure/service/chat_test.go
  api/server/user/internal/infrastructure/validation/chat.go
  api/server/user/internal/infrastructure/validation/chat_test.go
  api/server/user/internal/interface/grpc/v1/chat.go
  api/server/user/mock/application/validation/chat.go
  api/server/user/mock/domain/chat/repository.go
  api/server/user/mock/domain/chat/service.go
  api/server/user/mock/domain/chat/validation.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/registry/registry.go
  docs/12_backend/11_swagger/native.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#299 reafactor: テストのフォーマットを統一
  api/server/book/internal/application/auth_test.go
  api/server/book/internal/application/book_test.go
  api/server/book/internal/application/validation/book_test.go
  api/server/book/internal/infrastructure/service/auth_test.go
  api/server/book/internal/infrastructure/service/book_test.go
  api/server/book/internal/infrastructure/validation/book_test.go
  api/server/information/internal/application/auth_test.go
  api/server/information/internal/infrastructure/service/auth_test.go
  api/server/information/internal/interface/grpc/v1/error.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/auth_test.go
  api/server/user/internal/application/chat_test.go
  api/server/user/internal/application/user_test.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/application/validation/auth_test.go
  api/server/user/internal/application/validation/chat_test.go
  api/server/user/internal/application/validation/user_test.go
  api/server/user/internal/infrastructure/service/chat_test.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/infrastructure/validation/chat_test.go
  api/server/user/internal/infrastructure/validation/user_test.go
Labels: refactor, test

#301 feature: ログの転送先を変更
  infra/fluent-bit/stg/filters.conf
  infra/fluent-bit/stg/outputs.conf
  infra/fluent-bit/stg/parsers.conf
  infra/kubernetes/stg/logging/fluent-bit-configmap.yaml
  infra/prometheus/development.yaml
  infra/server/README.md
  infra/server/bin/ubuntu-setup.sh
  infra/server/config/loki-rsyslog.conf
  infra/server/config/loki.service
  infra/server/config/loki.yaml
Labels: infrastructure, monitorinig

#302 feature: プッシュ通知周りの実装
  api/server/user/go.mod
  api/server/user/go.sum
  api/server/user/internal/application/chat.go
  api/server/user/internal/application/chat_test.go
  api/server/user/internal/domain/chat/entity.go
  api/server/user/internal/domain/chat/messaging.go
  api/server/user/internal/domain/chat/service.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/infrastructure/messaging/chat.go
  api/server/user/internal/infrastructure/messaging/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/chat.go
  api/server/user/internal/infrastructure/service/chat_test.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/mock/domain/chat/messaging.go
  api/server/user/mock/domain/chat/service.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/registry/registry.go
Labels: backend (user api), feature

#304 feature: インフラ関連の実装をmasterブランチへマージ
  .github/workflows/cd-admin-gateway-for-master.yaml
  .github/workflows/cd-book-api-for-master.yaml
  .github/workflows/cd-information-api-for-master.yaml
  .github/workflows/cd-native-gateway-for-master.yaml
  .github/workflows/cd-user-api-for-master.yaml
  docs/14_infrastructure/01_design/note.md
  infra/docker/infra/functions/gcr-cleaner/Dockerfile
  infra/docker/infra/nginx/Dockerfile
  infra/fluent-bit/stg/outputs.conf
  infra/fluent-bit/stg/parsers.conf
  infra/functions/README.md
  infra/functions/gcr-cleaner/README.md
  infra/functions/gcr-cleaner/cmd/cli/main.go
  infra/functions/gcr-cleaner/cmd/server/main.go
  infra/functions/gcr-cleaner/go.mod
  infra/functions/gcr-cleaner/go.sum
  infra/functions/gcr-cleaner/internal/server/cache.go
  infra/functions/gcr-cleaner/internal/server/server.go
  infra/functions/gcr-cleaner/pkg/gcrcleaner/cleaner.go
  infra/grafana/nginx-access-log.json
  infra/kubernetes/.gitignore
  infra/kubernetes/stg/default/admin-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/book-api-deployment.yaml.temp
  infra/kubernetes/stg/default/busybox-pod.yaml
  infra/kubernetes/stg/default/native-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/user-api-deployment.yaml.temp
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
  infra/kubernetes/stg/gateway/nginx-deployment.yaml.temp
  infra/kubernetes/stg/kube-system/kubeip-deployment.yaml
  infra/kubernetes/stg/logging/fluent-bit-configmap.yaml
  infra/kubernetes/stg/logging/fluent-bit-daemonset.yaml
  infra/nginx/nginx.conf
Labels: infrastructure, monitorinig, workflows

#305 feat: 書籍の感想登録
  native/app/components/organisms/BookImpression.tsx
  native/app/components/organisms/BookInfo.tsx
  native/app/components/organisms/BookNameAuthorRegister.tsx
  native/app/components/organisms/ButtonGroupBookFooter.tsx
  native/app/components/organisms/ReadDate.tsx
  native/app/containers/BookReadRegister.tsx
  native/app/routes/HomeTabRoute.tsx
  native/app/screens/BookReadRegister.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
  native/app/store/models/book.ts
  native/app/store/usecases/book.ts
  native/app/types/forms/index.ts
  native/app/types/navigation/index.ts
  native/package.json
  native/yarn.lock
Labels: design, feature, frontend (native)

#281 Feature: GiftedChatを使ってメッセージの送受信を実装
  native/app/screens/Messages.tsx
  native/app/types/forms/index.ts
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#310 feature: 感想一覧の表示とUI調整
  native/app/components/organisms/BookImpression.tsx
  native/app/components/organisms/BookInfo.tsx
  native/app/screens/BookShow.tsx
  native/app/store/usecases/book.ts
  native/app/types/forms/index.ts
  native/app/types/navigation/index.ts
  native/app/types/response/book.ts
Labels: design, feature, frontend (native)
