Repository calmato/gran-book, pull requests merged in 2021-07, with the labels that each got.

#315 feature: チャットルームAPIのエンドポイント作成
  Makefile
  api/gateway/native/src/api/chat.ts
  api/gateway/native/src/api/index.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/plugins/grpc.ts
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/chat.ts
  api/gateway/native/src/types/input/chat.ts
  api/gateway/native/src/types/input/index.ts
  api/gateway/native/src/types/output/chat.ts
  api/gateway/native/src/types/output/index.ts
  api/gateway/native/src/types/request/chat.ts
  api/gateway/native/src/types/request/index.ts
  api/gateway/native/src/types/response/chat.ts
  api/gateway/native/src/types/response/index.ts
  infra/mysql/sql/01-create.sql
Labels: backend (user api), feature

#318 Develop/api
  Makefile
  api/gateway/native/src/api/chat.ts
  api/gateway/native/src/api/index.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/plugins/grpc.ts
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/chat.ts
  api/gateway/native/src/types/input/chat.ts
  api/gateway/native/src/types/input/index.ts
  api/gateway/native/src/types/output/chat.ts
  api/gateway/native/src/types/output/index.ts
  api/gateway/native/src/types/request/chat.ts
  api/gateway/native/src/types/request/index.ts
  api/gateway/native/src/types/response/chat.ts
  api/gateway/native/src/types/response/index.ts
  infra/mysql/sql/01-create.sql
Labels: backend (other api)

#316 fix: 証明書更新用スクリプトの修正
  infra/server/bin/update-certificate.sh.temp
Labels: bugfix, infrastructure

#309 feature:通知画面のメニューバーを追加
  native/app/components/organisms/MessageItem.tsx
  native/app/containers/NotificationMessage.tsx
  native/app/screens/Messages.tsx
  native/app/screens/NotificationMessage.tsx
  native/app/store/usecases/chatServices.ts
  native/app/types/response/chat.ts
Labels: design, feature, frontend (native)

#317 feature: Book APIの仕様変更
  docker-compose.yaml
  docs/12_backend/11_swagger/native.apiv2.yaml
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
Labels: documentation

#294 Feat: domain層 / infrastructureの実装
  api/server/information/go.mod
  api/server/information/internal/domain/notification/entity.go
  api/server/information/internal/domain/notification/repository.go
  api/server/information/internal/domain/notification/service.go
  api/server/information/internal/domain/notification/validation.go
  api/server/information/internal/domain/util.go
  api/server/information/internal/infrastructure/repository/notification.go
  api/server/information/internal/infrastructure/service/notification.go
Labels: backend (information api), feature

#314 fix: nativeアプリのマイページタブの部分の修正
  native/app/components/molecules/ProfileBasicInfoGroup.tsx
  native/app/components/molecules/ProfileFollowFollower.tsx
  native/app/components/organisms/ChangeNickname.tsx
  native/app/components/organisms/GenderRadioGroup.tsx
  native/app/routes/UserInfoRoute.tsx
  native/app/screens/MyPage.tsx
  native/app/screens/OwnProfile.tsx
  native/app/screens/ProfileEdit.tsx
Labels: frontend (native)

#324 Feat: Create Notificationのapplication層とテストの実装
  api/server/book/go.sum
  api/server/information/go.mod
  api/server/information/go.sum
  api/server/information/internal/application/input/.keep
  api/server/information/internal/application/input/notification.go
  api/server/information/internal/application/notification.go
  api/server/information/internal/application/validation/notification.go
  api/server/information/internal/application/validation/notification_test.go
  api/server/information/internal/application/validation/validator.go
  api/server/information/internal/interface/grpc/v1/error.go
  api/server/information/internal/interface/grpc/v1/notification.go
  api/server/user/go.sum
  proto/proto/information_apiv1.proto
Labels: backend (information api), feature

#322 fix: タイポの修正
  api/gateway/native/src/routes/v1/chat.ts
  api/gateway/native/src/types/response/chat.ts
Labels: backend (user api), bugfix

#325 feature: Notification Serviceの起動設定
  api/server/information/config/grpc.go
  api/server/information/internal/infrastructure/validation/.keep
  api/server/information/internal/infrastructure/validation/notification.go
  api/server/information/registry/registry.go
Labels: backend (information api), feature

#328 refactor: ディレクトリ構成の変更
  api/gateway/admin/src/types/request/index.ts
  api/gateway/admin/src/types/request/v1/admin.ts
  api/gateway/admin/src/types/request/v1/auth.ts
  api/gateway/admin/src/types/response/index.ts
  api/gateway/admin/src/types/response/v1/admin.ts
  api/gateway/admin/src/types/response/v1/auth.ts
  api/gateway/admin/src/types/response/v1/user.ts
  api/gateway/native/src/types/request/index.ts
  api/gateway/native/src/types/request/v1/auth.ts
  api/gateway/native/src/types/request/v1/book.ts
  api/gateway/native/src/types/request/v1/chat.ts
  api/gateway/native/src/types/response/index.ts
  api/gateway/native/src/types/response/v1/auth.ts
  api/gateway/native/src/types/response/v1/book.ts
  api/gateway/native/src/types/response/v1/bookshelf.ts
  api/gateway/native/src/types/response/v1/chat.ts
  api/gateway/native/src/types/response/v1/user.ts
Labels: gateway (admin), gateway (native), refactor

#326 feature: 書籍APIの更新
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/interface/grpc/v1/book.go
  proto/proto/book_apiv1.proto
Labels: backend (book api), feature

#327 feature: 書籍API (v2) のエンドポイント作成
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/routes/v2/bookshelf.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/response/index.ts
  api/gateway/native/src/types/response/v2/bookshelf.ts
  api/gateway/native/src/util/book.ts
  api/gateway/native/src/util/index.ts
Labels: feature, gateway (native)

#331 docs: 書籍API周りのSwagger更新
  docs/12_backend/11_swagger/native.apiv2.yaml
Labels: documentation

#332 feature: 本棚の書籍取得API(v2)の作成
  api/gateway/native/src/routes/v2/bookshelf.ts
Labels: gateway (native)

#335 feature: 書籍API周りの改修
  api/gateway/admin/src/types/request/index.ts
  api/gateway/admin/src/types/request/v1/admin.ts
  api/gateway/admin/src/types/request/v1/auth.ts
  api/gateway/admin/src/types/response/index.ts
  api/gateway/admin/src/types/response/v1/admin.ts
  api/gateway/admin/src/types/response/v1/auth.ts
  api/gateway/admin/src/types/response/v1/user.ts
  api/gateway/native/src/api/book.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/routes/index.ts
  api/gateway/native/src/routes/v1/book.ts
  api/gateway/native/src/routes/v1/bookshelf.ts
  api/gateway/native/src/routes/v1/chat.ts
  api/gateway/native/src/routes/v2/book.ts
  api/gateway/native/src/routes/v2/bookshelf.ts
  api/gateway/native/src/types/output/book.ts
  api/gateway/native/src/types/request/index.ts
  api/gateway/native/src/types/request/v1/auth.ts
  api/gateway/native/src/types/request/v1/book.ts
  api/gateway/native/src/types/request/v1/chat.ts
  api/gateway/native/src/types/response/index.ts
  api/gateway/native/src/types/response/v1/auth.ts
  api/gateway/native/src/types/response/v1/book.ts
  api/gateway/native/src/types/response/v1/bookshelf.ts
  api/gateway/native/src/types/response/v1/chat.ts
  api/gateway/native/src/types/response/v1/user.ts
  api/gateway/native/src/types/response/v2/book.ts
  api/gateway/native/src/types/response/v2/bookshelf.ts
  api/gateway/native/src/util/book.ts
  api/gateway/native/src/util/index.ts
  api/server/book/go.sum
  api/server/book/internal/domain/book/entity.go
  api/server/book/internal/infrastructure/repository/book.go
  api/server/book/internal/interface/grpc/v1/book.go
  api/server/information/config/grpc.go
  api/server/information/go.mod
  api/server/information/go.sum
  api/server/information/internal/application/input/.keep
  api/server/information/internal/application/input/notification.go
  api/server/information/internal/application/notification.go
  api/server/information/internal/application/validation/notification.go
  api/server/information/internal/application/validation/notification_test.go
  api/server/information/internal/application/validation/validator.go
  api/server/information/internal/infrastructure/validation/.keep
  api/server/information/internal/infrastructure/validation/notification.go
  api/server/information/internal/interface/grpc/v1/error.go
  api/server/information/internal/interface/grpc/v1/notification.go
  api/server/information/registry/registry.go
  api/server/user/go.sum
  docs/12_backend/11_swagger/native.apiv2.yaml
  proto/proto/book_apiv1.proto
  proto/proto/information_apiv1.proto
Labels: backend (book api), backend (information api), backend (user api), documentation, gateway (admin), gateway (native), mergeable, test

#336 fix: Nginxのコンフィグを修正
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
  infra/kubernetes/stg/logging/fluent-bit-configmap.yaml
  infra/nginx/nginx.conf
Labels: bugfix, infrastructure, mergeable

#334 Feature/develop/api/other notification
  api/server/information/go.sum
  api/server/information/internal/application/input/notification.go
  api/server/information/internal/application/notification.go
  api/server/information/internal/application/validation/notification.go
  api/server/information/internal/application/validation/notification_test.go
Labels: backend (information api), feature, mergeable, test

#337 feature: チャットメッセージAPIの作成 (part.1)
  api/server/user/internal/domain/chat/repository.go
  api/server/user/internal/domain/chat/service.go
  api/server/user/internal/domain/chat/uploader.go
  api/server/user/internal/domain/chat/validation.go
  api/server/user/internal/infrastructure/repository/chat.go
  api/server/user/internal/infrastructure/repository/context.go
  api/server/user/internal/infrastructure/service/chat.go
  api/server/user/internal/infrastructure/service/chat_test.go
  api/server/user/internal/infrastructure/storage/chat.go
  api/server/user/internal/infrastructure/storage/context.go
  api/server/user/internal/infrastructure/validation/chat.go
  api/server/user/internal/infrastructure/validation/chat_test.go
  api/server/user/mock/domain/chat/messaging.go
  api/server/user/mock/domain/chat/repository.go
  api/server/user/mock/domain/chat/service.go
  api/server/user/mock/domain/chat/uploader.go
  api/server/user/mock/domain/chat/validation.go
  api/server/user/registry/registry.go
Labels: backend (user api), feature, mergeable, test

#340 feature: ホーム画面のタブレイアウトの調整
  native/app/screens/BookShow.tsx
  native/app/screens/Home.tsx
Labels: frontend (native), mergeable

#343 fix: typo - massage -> message
  api/server/book/internal/domain/exception/validation.go
  api/server/information/internal/domain/exception/validation.go
  api/server/user/internal/domain/chat/entity.go
  api/server/user/internal/domain/exception/validation.go
  docs/99_other/README.md
Labels: backend (book api), backend (information api), backend (user api), bugfix, documentation, mergeable

#344 feat: 管理用サーバでSwagger UIサーバを起動するように
  .github/workflows/cd-swagger.yaml
  docs/14_infrastructure/33_virtual_machine/README.md
  infra/server/README.md
  infra/server/bin/ubuntu-setup.sh
  infra/server/bin/update-certificate.sh.temp
  infra/server/html/index.html
Labels: documentation, infrastructure, workflows
