Repository calmato/gran-book, pull requests merged in 2021-02, with the labels that each got.

#73 feat: ログインエラー時、アラート表示をするように
  web/admin/app/components/molecules/.keep
  web/admin/app/components/molecules/TheAlert.vue
  web/admin/app/components/templates/SignIn.vue
  web/admin/app/pages/signin.vue
Labels: feature, frontend (admin)

#79 feat: パスワードリセット後にメールチェックを促す画面への遷移を実装
  native/app/screens/PasswordReset.tsx
Labels: frontend (native)

#71 Feature/native/theme color
  .gitignore
  native/app/components/atoms/HeaderText.tsx
  native/app/components/organisms/HeaderWithBackButton.tsx
  native/constants/theme.ts
Labels: design

#80 feature: 新規ユーザ登録APIへのリクエストが投げられるように
  native/.env.temp
  native/App.tsx
  native/app/components/atoms/ .keep
  native/app/components/molecules/ .keep
  native/app/components/organisms/ .keep
  native/app/containers/SignUp.tsx
  native/app/containers/index.ts
  native/app/layouts/ .keep
  native/app/lib/axios/ .keep
  native/app/lib/axios/index.ts
  native/app/lib/constants/ .keep
  native/app/routes/AuthRoute.tsx
  native/app/screens/ .keep
  native/app/screens/SignUp.tsx
  native/app/store/containers/ .keep
  native/app/store/index.ts
  native/app/store/models/ .keep
  native/app/store/models/auth.ts
  native/app/store/models/index.ts
  native/app/store/modules/ .keep
  native/app/store/modules/auth.ts
  native/app/store/modules/index.ts
  native/app/store/usecases/ .keep
  native/app/store/usecases/auth.ts
  native/app/types/forms/ .keep
  native/app/types/responess/ .keep
  native/app/types/response/auth.ts
  native/app/types/response/index.ts
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#81 Feature/native/book show
  native/app/components/organisms/ButtonGroupBookFooter.tsx
  native/app/components/organisms/ButtonGroupInfoImp.tsx
  native/app/components/organisms/FlexBoxBookCategory.tsx
  native/app/screens/BookShow.tsx
  native/constants/theme.ts
Labels: feature, frontend (native)

#83 Feature/native/home
  native/App.tsx
  native/app/components/atoms/SearchIcon.tsx
  native/app/components/molecules/SearchBar.tsx
  native/app/routes/ServiceRoute.tsx
  native/app/screens/Bookshelf.tsx
  native/app/screens/Home.tsx
  native/app/screens/Sale.tsx
  native/app/screens/Store.tsx
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#84 Feature/native/setting account
  native/app/screens/AccoutSetting.tsx
  native/app/screens/MyPage.tsx
Labels: design

#82 Feature/native/book impression
  native/app/screens/BookImpression.tsx
  native/app/screens/BookShow.tsx
  native/app/screens/BookShowImpressionParent.tsx
  native/constants/theme.ts
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#91 feature: BFF用のコンテナ作成
  .github/workflows/cd-admin-gateway-for-master.yaml
  .github/workflows/cd-native-gateway-for-master.yaml
  api/gateway/admin/package.json
  api/gateway/native/package.json
  api/server/user/internal/infrastructure/repository/user.go
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/native/Dockerfile
  infra/docker/api/server/user/Dockerfile
Labels: feature, infrastructure

#93 feat: K8sへPod追加
  infra/kubernetes/stg/default/admin-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/admin-gateway-service.yaml
  infra/kubernetes/stg/default/common-secret.yaml.temp
  infra/kubernetes/stg/default/gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/native-gateway-deployment.yaml.temp
  infra/kubernetes/stg/default/native-gateway-service.yaml
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
Labels: feature, infrastructure

#94 feat: プリフライトリクエストの許可を追加
  api/gateway/admin/src/config/cors.ts
  api/gateway/native/src/config/cors.ts
Labels: backend (other api), feature

#95 feat: CORSの設定
  api/gateway/admin/src/config/cors.ts
  api/gateway/native/src/config/cors.ts
Labels: backend (other api), feature

#96 feat: CORSの設定
  api/gateway/admin/src/config/cors.ts
  api/gateway/native/src/config/cors.ts
Labels: backend (other api), feature

#97 fix: 認証の除外パスの見直し
  api/gateway/admin/src/lib/authenticated.ts
  api/gateway/native/src/lib/authenticated.ts
Labels: backend (other api), bugfix

#98 feat: OPTIONSメソッドのリクエストが来た時200を返すように
  api/gateway/admin/src/lib/authenticated.ts
  api/gateway/native/src/lib/authenticated.ts
Labels: backend (other api), feature

#99 fix: プリフライトリクエスト周りの設定
  api/gateway/admin/src/index.ts
  api/gateway/admin/src/lib/authenticated.ts
  api/gateway/admin/src/routes/common.ts
  api/gateway/admin/src/routes/index.ts
  api/gateway/native/src/index.ts
  api/gateway/native/src/lib/authenticated.ts
  api/gateway/native/src/routes/common.ts
  api/gateway/native/src/routes/index.ts
Labels: backend (other api), feature

#100 feature: リバースプロキシコンテナの設定編集
  .env.temp
  docker-compose.yaml
  infra/kubernetes/stg/gateway/nginx-configmap.yaml
Labels: feature, infrastructure

#101 Feature/gateway/admin/update auth
  api/gateway/admin/.eslintignore
  api/gateway/admin/.eslintrc.js
  api/gateway/admin/.prettierignore
  api/gateway/admin/package.json
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/config/logger.ts
  api/gateway/admin/src/lib/authenticated.ts
  api/gateway/admin/src/lib/grpc-exception.ts
  api/gateway/admin/src/lib/http-exception.ts
  api/gateway/admin/src/lib/log-handler.ts
  api/gateway/admin/src/plugins/grpc.ts
  api/gateway/admin/src/routes/v1/auth.ts
  api/gateway/admin/src/types/input/user.ts
  api/gateway/admin/src/types/request/auth.ts
  api/gateway/admin/yarn.lock
  api/gateway/native/.eslintignore
  api/gateway/native/.eslintrc.js
  api/gateway/native/.prettierignore
  api/gateway/native/package.json
  api/gateway/native/src/config/logger.ts
  api/gateway/native/src/lib/authenticated.ts
  api/gateway/native/src/lib/grpc-exception.ts
  api/gateway/native/src/lib/http-exception.ts
  api/gateway/native/src/lib/log-handler.ts
  api/gateway/native/src/plugins/grpc.ts
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/yarn.lock
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/apiv1.openapi.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/apiv1.swagger.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: backend (other api), feature

#102 feature: ユーザー情報更新周りの実装
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/routes/v1/auth.ts
  api/gateway/admin/src/types/input/user.ts
  api/gateway/admin/src/types/request/auth.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/request/auth.ts
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: backend (other api), feature

#103 feature: 認証周りのAPI実装
  api/gateway/admin/.eslintignore
  api/gateway/admin/.eslintrc.js
  api/gateway/admin/.prettierignore
  api/gateway/admin/package.json
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/config/logger.ts
  api/gateway/admin/src/lib/authenticated.ts
  api/gateway/admin/src/lib/grpc-exception.ts
  api/gateway/admin/src/lib/http-exception.ts
  api/gateway/admin/src/lib/log-handler.ts
  api/gateway/admin/src/plugins/grpc.ts
  api/gateway/admin/src/routes/v1/auth.ts
  api/gateway/admin/src/types/input/user.ts
  api/gateway/admin/src/types/request/auth.ts
  api/gateway/admin/yarn.lock
  api/gateway/native/.eslintignore
  api/gateway/native/.eslintrc.js
  api/gateway/native/.prettierignore
  api/gateway/native/package.json
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/config/logger.ts
  api/gateway/native/src/lib/authenticated.ts
  api/gateway/native/src/lib/grpc-exception.ts
  api/gateway/native/src/lib/http-exception.ts
  api/gateway/native/src/lib/log-handler.ts
  api/gateway/native/src/plugins/grpc.ts
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/types/input/user.ts
  api/gateway/native/src/types/request/auth.ts
  api/gateway/native/yarn.lock
  docs/12_backend/11_swagger/admin.apiv1.yaml
  docs/12_backend/11_swagger/apiv1.swagger.json
  docs/12_backend/11_swagger/apiv1.swagger.yaml
  docs/12_backend/11_swagger/native.apiv1.yaml
Labels: feature

#105 fix: 不要なカラムの削除と必須項目に仮の値代入
  api/gateway/admin/src/routes/v1/auth.ts
  api/gateway/admin/src/types/request/auth.ts
  api/gateway/admin/src/types/response/auth.ts
Labels: backend (other api), bugfix

#106 fix: base64周りのバリデーション修正
  api/server/user/internal/application/input/auth.go
  api/server/user/internal/application/validation/auth_test.go
Labels: backend (user api), bugfix

#107 feature: プロフィール更新画面の実装
  web/admin/app/components/atoms/TheFileInput.vue
  web/admin/app/components/atoms/TheTextArea.vue
  web/admin/app/components/organisms/SettingsEditProfileForm.vue
  web/admin/app/components/templates/SettingsEditProfile.vue
  web/admin/app/pages/settings/index.vue
  web/admin/app/pages/settings/profile.vue
  web/admin/app/plugins/vee-validate.ts
  web/admin/app/store/auth.ts
  web/admin/app/types/forms/auth.ts
  web/admin/app/types/forms/utils.ts
  web/admin/app/types/requests/auth.ts
  web/admin/spec/components/atoms/TheFileInput.spec.ts
  web/admin/spec/components/atoms/TheFormGroup.spec.ts
  web/admin/spec/components/atoms/TheTextArea.spec.ts
  web/admin/spec/components/organisms/SettingsEditEmailForm.spec.ts
  web/admin/spec/components/organisms/SettingsEditPasswordForm.spec.ts
  web/admin/spec/components/organisms/SettingsEditProfileForm.spec.ts
  web/admin/spec/components/templates/SettingsEditProfile.spec.ts
  web/admin/spec/helpers/response/auth.ts
  web/admin/spec/store/auth.spec.ts
Labels: feature, frontend (admin)

#109 Feature/user api/add activated column
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/types/output/user.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/types/output/user.ts
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/interface/grpc/v1/auth.go
  api/server/user/proto/user_apiv1.pb.go
  docker-compose.yaml
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#110 feature: Userモデルの編集
  api/gateway/admin/src/api/user.ts
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/types/output/user.ts
  api/gateway/native/src/api/user.ts
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/gateway/native/src/types/output/user.ts
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/interface/grpc/v1/auth.go
  api/server/user/proto/user_apiv1.pb.go
  docker-compose.yaml
  docs/13_database/gran-book_db.mwb
  infra/mysql/sql/01-create.sql
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#111 feature: 管理者用APIの実装
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/config/grpc.go
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/auth.go
  api/server/user/internal/application/auth_test.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/domain/user/entity.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/mock/application/validation/admin.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  api/server/user/registry/registry.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#112 feature: BFFの更新
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/api/auth.ts
  api/gateway/admin/src/api/index.ts
  api/gateway/admin/src/index.ts
  api/gateway/admin/src/lib/authenticated.ts
  api/gateway/admin/src/lib/grpc-exception.ts
  api/gateway/admin/src/lib/http-exception.ts
  api/gateway/admin/src/plugins/grpc.ts
  api/gateway/admin/src/routes/index.ts
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/routes/v1/auth.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/admin/src/types/input/auth.ts
  api/gateway/admin/src/types/input/index.ts
  api/gateway/admin/src/types/output/admin.ts
  api/gateway/admin/src/types/output/auth.ts
  api/gateway/admin/src/types/output/index.ts
  api/gateway/admin/src/types/request/admin.ts
  api/gateway/admin/src/types/request/index.ts
  api/gateway/admin/src/types/response/admin.ts
  api/gateway/admin/src/types/response/index.ts
  docker-compose.yaml
  docs/12_backend/11_swagger/admin.apiv1.yaml
Labels: feature, gateway (admin)

#113 refactor: Gateway周りのコード修正
  api/gateway/native/src/api/auth.ts
  api/gateway/native/src/api/index.ts
  api/gateway/native/src/lib/grpc-exception.ts
  api/gateway/native/src/lib/http-exception.ts
  api/gateway/native/src/routes/v1/auth.ts
  api/gateway/native/src/types/input/auth.ts
  api/gateway/native/src/types/input/index.ts
  api/gateway/native/src/types/output/auth.ts
  api/gateway/native/src/types/output/index.ts
Labels: gateway (native), refactor

#88 Feature/native/book read register
  native/app/components/molecules/DefaultDatePicker.tsx
  native/app/components/organisms/BookNameAuthorRegister.tsx
  native/app/components/organisms/ReadDate.tsx
  native/app/screens/BookReadRegister.tsx
  native/package.json
  native/yarn.lock
Labels: feature, frontend (native)

#115 fix: ヘルスチェック周りのバグ修正
  api/gateway/admin/src/lib/authenticated.ts
Labels: bugfix, gateway (admin)

#87 feat: ユーザー登録で失敗した際のAlertを実装
  native/app/lib/resources/messages_ja.tsx
  native/app/lib/util/ErrorUtil.tsx
  native/app/screens/SignUp.tsx
Labels: feature, frontend (native)

#117 feature: 管理者一覧取得APIの実装
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/api/auth.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/admin/src/types/output/admin.ts
  api/gateway/admin/src/types/response/admin.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/go.sum
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/output/util.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/domain/util.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/internal/interface/grpc/v1/util.go
  api/server/user/mock/application/validation/admin.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature, gateway (admin)

#118 feature: 管理者情報取得APIの実装
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
Labels: backend (user api), feature

#119 Feature/native/own profile
  native/app/components/atoms/ProfileNumberOfThings.tsx
  native/app/components/molecules/ProfileBasicInfoGroup.tsx
  native/app/components/molecules/ProfileFollowFollower.tsx
  native/app/components/organisms/ProfileViewGroup.tsx
  native/app/screens/OwnProfile.tsx
Labels: feature, frontend (native)

#120 feature: サインインの実装
  native/.env.temp
  native/App.tsx
  native/app/containers/SignIn.tsx
  native/app/containers/index.ts
  native/app/lib/axios/index.ts
  native/app/lib/firebase/index.ts
  native/app/lib/local-storage/ .keep
  native/app/lib/local-storage/auth-storage.ts
  native/app/lib/local-storage/index.ts
  native/app/lib/local-storage/keys.ts
  native/app/routes/AuthRoute.tsx
  native/app/screens/SignIn.tsx
  native/app/screens/SignUp.tsx
  native/app/store/models/auth.ts
  native/app/store/modules/auth.ts
  native/app/store/usecases/auth.ts
  native/app/types/response/auth.ts
  native/package.json
  native/tsconfig.json
  native/yarn.lock
Labels: feature, frontend (native)

#124 feature: 管理者一覧取得APIの実装
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/api/auth.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/admin/src/types/output/admin.ts
  api/gateway/admin/src/types/response/admin.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/go.sum
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/output/util.go
  api/server/user/internal/application/validation/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/domain/user/repository.go
  api/server/user/internal/domain/user/service.go
  api/server/user/internal/domain/util.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user.go
  api/server/user/internal/infrastructure/service/user_test.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/internal/interface/grpc/v1/util.go
  api/server/user/mock/application/validation/admin.go
  api/server/user/mock/domain/user/repository.go
  api/server/user/mock/domain/user/service.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  docs/12_backend/11_swagger/admin.apiv1.yaml
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature

#128 fix: 管理者一覧取得APIの修正
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/domain/util.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user_test.go
Labels: backend (user api), bugfix

#123 Feature/native/contact edit
  native/app/screens/AccountEdit.tsx
  native/app/screens/ContactEdit.tsx
  native/yarn.lock
Labels: feature

#129 Develop/api
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/admin_test.go
  api/server/user/internal/domain/util.go
  api/server/user/internal/infrastructure/repository/client.go
  api/server/user/internal/infrastructure/repository/user.go
  api/server/user/internal/infrastructure/service/user_test.go
Labels: backend (user api), bugfix

#130 feature: 管理者一覧画面のUI作成
  web/admin/app/components/organisms/CommonSidebar.vue
  web/admin/app/pages/admin/index.vue
  web/admin/app/plugins/store-accessor.ts
  web/admin/app/store/admin.ts
  web/admin/app/store/auth.ts
  web/admin/app/types/forms/admin.ts
  web/admin/app/types/forms/index.ts
  web/admin/app/types/props/templates/AdminList.ts
  web/admin/app/types/props/templates/index.ts
  web/admin/app/types/responses/admin.ts
  web/admin/app/types/responses/index.ts
  web/admin/app/types/store/admin.ts
  web/admin/app/types/store/index.ts
  web/admin/spec/components/organisms/CommonSidebar.spec.ts
Labels: feature, gateway (admin)

#131 feature: 管理者一覧取得APIの編集
  api/gateway/admin/src/api/admin.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_grpc_pb.js
  api/gateway/admin/src/proto/user_apiv1_pb.d.ts
  api/gateway/admin/src/proto/user_apiv1_pb.js
  api/gateway/admin/src/routes/v1/admin.ts
  api/gateway/admin/src/types/input/admin.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_grpc_pb.js
  api/gateway/native/src/proto/user_apiv1_pb.d.ts
  api/gateway/native/src/proto/user_apiv1_pb.js
  api/server/user/internal/application/admin.go
  api/server/user/internal/application/input/admin.go
  api/server/user/internal/application/validation/admin_test.go
  api/server/user/internal/application/validation/validator.go
  api/server/user/internal/domain/exception/validation.go
  api/server/user/internal/interface/grpc/v1/admin.go
  api/server/user/proto/user_apiv1.pb.go
  api/server/user/proto/user_apiv1_grpc.pb.go
  proto/proto/user_apiv1.proto
Labels: backend (user api), feature, gateway (admin)
